[2020-09-02 07:42] glopezdiest opened #626 "OpenSCENARIO support - PrivateActions"
This issue is meant to track the support of PrivateActions within OSC 1.0:

- [x] ActivateControllerAction          Activates CARLA's autopilot
- [x] ControllerAction
- [x] LaneChangeAction                  Some dynamics are still ignored
- [ ] LaneOffsetAction
- [ ] LateralDistanceAction
- [ ] LongitudinalDistanceAction
- [x] SpeedAction
- [ ] SynchronizeAction
- [x] TeleportAction
- [ ] Visibili

[2020-09-02 09:50] r-snijders commented on #625
Yeah sorry, I noticed that I didn't use the latest commit. I did check it with the latest commit in master and changed the commit id above, but I forgot to modify the traceback as well.

So, the problem still exists in the latest commit but the traceback above is incorrect, I'll change it later today once I have access to the other machine again.

[2020-09-02 20:41] s-rajab commented on #616
Hi @fabianoboril,

The second one is triggering the behavior end. It seems that after the VehicleLightState is set on the ego vehicle, "Resetting ego-vehicle!" is printed on the terminal and self._local_planner_dict is becoming empty at that point. Thus,  `update(self)` does not go in the ` for actor in self._local_planner_dict: ` loop and the scenario ends in success. Not sure why this is happeni

[2020-09-03 14:48] r-snijders commented on #625
I've updated the traceback in the first comment.
I am using commit 76d56c615c6af9e63f53bd60978f2be56d8a2883 from the master branch. asdfasdf

[2020-09-03 15:30] r-snijders commented on #626
Thanks for working on improving support for OSC1.0! :+1:
I am especially interested in support for the LaneOffsetAction.

[2020-09-03 15:40] fabianoboril commented on #625
Ah, found it. Yes, it has to be lane_pos not rel_pos. Added PR #627

[2020-09-03 15:44] fabianoboril commented on #616
Can you check if Line 1540 is executed once the LightSetter is called?
https://github.com/carla-simulator/scenario_runner/blob/76d56c615c6af9e63f53bd60978f2be56d8a2883/srunner/scenariomanager/scenarioatomics/atomic_behaviors.py#L1540

[2020-09-03 19:21] s-rajab commented on #616
Line 1540 is no longer executed after the LightSetter is called.

[2020-09-04 05:49] fabianoboril commented on #616
Ah, I think I found the issue.
As you haven't defined an initialise() method for your LightSetter, the parent method is called, which terminates the WaypointFollower. Please define an initalise() method in your LightSetter and do not call the parent method. Something like:

[code]

Does it help?

[2020-09-04 09:14] #625 closed

[2020-09-08 13:06] s-rajab commented on #616
That solved the issue. Thank you!

[2020-09-08 15:15] #616 closed

[2020-09-09 08:26] glopezdiest commented on #626
As of #628, AcquirePositionAction is now supported at the *Story* part

[2020-09-11 17:51] stonier opened #630 "Branch for v0.9.9"
**Describe the bug**

`README.md` indicates there is a `0.9.9` branch, but there is not. The `0.9.9` tag is pretty old (April and 62 commits behind) - not sure whether master is incorporating patches for `0.9.9` or if there hasn't been any patching of the original tag. A branch would resolve that conundrum and be a constant url for fetching purposes.

**Expected Behaviour**

A `0.9.9` branch exist

[2020-09-14 15:25] sagar-g-v opened #632 "RelativeTargetSpeed OSC issue"
I was trying to use relative speed in open scenario, but i got the below error.

Traceback (most recent call last):
  File "scenario_runner.py", line 367, in _load_and_run_scenario
    timeout=100000)
  File "/home/harsha/scenario_runner/srunner/scenarios/open_scenario.py", line 188, in __init__
    terminate_on_failure=False, criteria_enable=criteria_enable)
  File "/home/harsha/scenario_runner/s

[2020-09-14 21:08] yyab commented on #328
I also have the same question. Thanks!

[2020-09-15 09:20] soheilade opened #633 "jenkins file"
what is
`jenkinsLib = load("/home/jenkins/scenario_runner.groovy") `
in `jenkinsfile `for? where is `scenario_runner.groovy` supposed to be located?

[2020-09-15 14:15] TKeutgens commented on #350
@kino3 Hi, im running into the same negative value error. Did you resolve this issue?

[2020-09-15 17:22] fabianoboril commented on #633
This is our internal jenkins setup. I guess you can ignore this file, as it is not relevant for the normal use of ScenarioRunner. @melviso-osvf: Anything to add?

[2020-09-16 09:57] TKeutgens opened #634 "Change viewpoint"
I was finaly able to play my own XOSC scenario with the scenario_runner.

What is the best way to set the specator view to the ego vehicle or to a specific position? Are there examples or tutorials to change the view with scenario runner?

 - OS: Windows10
 - CARLA Version: CARLA 0.9.10
 - Python version: 3.7
 - Scenario Runner: 0.9.9

[2020-09-16 10:45] melviso-osvf commented on #633
Ok. That file is more or less the same used in carla jenkins (I have modified it a little for the squeduling of carla instances). This file is located inside the AWS Jenkins server, where that script would be executed.

[2020-09-16 14:04] soheilade commented on #633
thanks guys for your comments, so i assume if i remove the lines related to jenkinsLib, it should run without problem, is the docker image of scenario runner available somewhere like in docker hub?

[2020-09-17 08:31] kino3 commented on #350
No, recently I only use Ubuntu instead.

[2020-09-17 09:04] soheilade commented on #633
@fabianoboril , I tried to remove the file and while running this command:
 `run apt-get update && apt-get install --no-install-recommends -y libpng16-16=1.6.34-1ubuntu0.18.04.2 libtiff5=4.0.9-5ubuntu0.3 libjpeg8=8c-2ubuntu8 build-essential=12.4ubuntu1 wget=1.19.4-1ubuntu2.2 git=1:2.17.1-1ubuntu0.7  python3.6=3.6.9-1~18.04ubuntu1 python3.6-dev=3.6.9-1~18.04ubuntu1 python3-pip=9.0.1-2.3~ubuntu1.18.

[2020-09-17 14:09] Leon-Adler opened #635 "Run a list of multiple scenarios with different start locations for automated testing"
Hello together,

I would like to have a scenario executed automatically several times in a row (such as FollowLeadingVehicle) and record it for automated tests. I would also like to reset the starting position of the vehicle in front of me in a slightly different way.

In fact, this matter has already been implemented and resolved.

**The only hurdle that still has to be overcome is that between t

[2020-09-17 18:24] fabianoboril commented on #633
There is no public docker image for ScenarioRunner. You can simply download it, and run it with Python.

[2020-09-18 10:48] melviso-osvf commented on #633
Also, I think you could use the current dockerfile for building the image locally, if you want to do that.

[2020-09-18 12:34] lucasnmatias opened #636 "Contributing with Scenarios (OpenScenario)"
**Is your feature request related to a problem? Please describe.**
Hi, I work at IVEX and recently we have worked with scenario_runner to build scenarios and make the safety assessment of the vehicles behaviors. To do so we have implemented some of the NHTSA Scenarios from CARLA challenge on OpenSCENARIO and we would like to contribute to CARLA making a PR with those OpenSCENARIO scripts of NHTSA

[2020-09-19 08:54] fabianoboril commented on #636
Hi,
this contribution sounds amazing and would be a great benefit for us and the community :)
Regarding the PR: There are several options but the easiest is to fork the scenario_runner repo, commit your changes on a local branch in the fork, and then do a PR from that branch back to ScenarioRunner.
https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-reques

[2020-09-21 14:54] sagar-g-v commented on #634
Hi,

I think there is a way to set spectator view to follow ego.

the following chages needs to be made in `manual_control.py`
[code]

try this and let me know.

[2020-09-23 07:07] sagar-g-v opened #638 "Support on Important OSC tags"
Hi,
We are using scenario runner with OpenScenario 1.0 in our project.

we have created many scenarios using the currently supported tags.
but going further we need to use some more tags available in OpenScenario 1.0 for our scenarios.

## Add support for the Following

- [x] `RelativeTargetSpeed`:
    - supported but the following behaviour is observed.
    when this tag is used we are getting th

[2020-09-23 09:19] fabianoboril commented on #638
Hi,
are you using the ScenarioRunner 0.9.9 version? Do you mind testing the current master? The TimeToCollision condition is supported, and I think some of your reported observations are fixed as well.

[2020-09-23 14:38] ThrashAbaddon commented on #632
@sagar-g-v Could you please submit a PR with what you have?

[2020-09-23 14:41] ThrashAbaddon commented on #562
OpenSCENARIO doesn't use behavior trees. Where did you get that information?

[2020-09-24 14:52] fabianoboril commented on #632
This seems to be included in #638

[2020-09-24 15:19] sagar-g-v commented on #632
Yes. I will submit a pull request for this.

[2020-09-25 05:55] #632 closed

[2020-09-26 01:03] aczy118 commented on #596
Hi,
Can you please explain how did you solve the problem for Windows? I have tried your last entry but I am still getting 'no module named carla' . Why is it not working?
Thanks.

[2020-09-28 12:22] Lu7913 commented on #596
First make sure that Carla server is running fine and you can connect python client to it. Than make sure that you replace text between %% with your corresponding location.
![image](https://user-images.githubusercontent.com/68107933/94430428-302d6100-0194-11eb-8330-88c2d9c4c11e.png)

Try with prebuild version of Carla first. I haven't had issues with that.

[2020-09-29 00:23] emailweixu opened #643 "A possible bug of RunningRedLightTest::rotate_point()"
**Describe the bug**

It seems there is a bug of rotate_point() function for  RunningRedLightTest

https://github.com/carla-simulator/scenario_runner/blob/e4241813f39554be048c274c8e5e05f778d85f6a/srunner/scenariomanager/scenarioatomics/atomic_criteria.py#L1829-L1835

If the angle is 0, the returned vector becomes Vector3D(point.x, -point.y, point.z), which is different from the original vector. An

[2020-09-29 06:19] fabianoboril commented on #643
@glopezdiest Can you have a look into this?

[2020-09-29 07:15] glopezdiest commented on #643
Sure, I'll take a look and report back

[2020-09-30 08:34] glopezdiest commented on #643
Hey @emailweixu, many thanks for seeing that. Indeed, that rotation "matrix" was wrong, and vectors with y components weren't being rotated properly. This has been fixed at a PR. However, this wasn't affecting the current criteria, as all rotated vectors only had *x* component.

[2020-09-30 09:05] #643 closed

[2020-09-30 09:26] soheilade commented on #633
thanks guys!

[2020-09-30 09:26] #633 closed

[2020-09-30 09:39] soheilade opened #645 "scenario runner output file"
in scenario runner the --file switch is supposed to direct the output into a file
`parser.add_argument('--file', action="store_true", help='Write results into a txt file')`
could somebody please say where is this file located? I cannot see any new file in the working directory after running scenario_runner.py with --file, try passing an argument to --file, for example --file a.txt, leads to an err

[2020-09-30 14:53] fabianoboril commented on #630
Fixed with #647 and #648

[2020-09-30 14:53] #630 closed

[2020-09-30 14:55] fabianoboril commented on #645
Hi,
which version of SR are you using?

[2020-10-01 08:04] #399 closed

[2020-10-01 08:15] soheilade commented on #645
Hi Fabian, 0.9.9

[2020-10-05 07:11] soheilade commented on #645
the generated file is a hidden file, so you must run` ls -la` to be able to see it!

[2020-10-05 07:11] #645 closed

[2020-10-05 16:57] SchDevel opened #653 "Scenario Runner via OpenSCENARIO waypoint mission for adversarial vehicles"
Hello together,

I am currently trying to get a simple scenario in the OpenSCENARIO format working.
In a first stage my goal is to have the evo_vehicle and one or multiple adversarial vehicle each on separate waypoint missions.

It is kind of related to the issue here: https://github.com/carla-simulator/scenario_runner/issues/516

However, the issue I linked above is with an old version of the sce

[2020-10-06 04:40] sagar-g-v commented on #653
Hi, I checked your file.

`adversary` is not moving because speed is set to `0.0` by default.

You are using only one event for `adversary` actor.

[code]

but in XOSC you need to use a seperated event to set the `adversary` Speed and then trigger `FollowsRoute` event.
- Exmple:
[code]

can you try this and let me know if it solves your issue.

[2020-10-06 06:58] SchDevel commented on #653
Hey @sagar-g-v,

thank you for the fast response!
Interesting point regarding the `adversary`speed and the trigger events. I did not know that.

However, adding this into the code did not change anything. The `adversary` vehicle is still not moving, despite being `<300` in cartesian coordinates away from the ego_vehicle.

I attached the file again here:
[WaypointScenarioEdit.zip](https://github.co

[2020-10-07 14:47] Lu7913 opened #654 "Lane change action causing problems with triggers after it (OpenSCENARIO)"
Hi,
I'm creating simple overtaking scenario with OpenSCENARIO. In the scenario I perform lane change action and after this I would like to perform some other actions. The problem is that after lane change action no trigger is activated. I have tried different conditions and nothing works after lane change (Vehicle changes lane and drive on, another action is not triggered, no error is returned).
I

[2020-10-08 08:51] seowwj commented on #653
Hi @SchDevel ,

I believe the issue is due to the start condition that has been set for the adversary.

Line 114: `<RelativeDistanceCondition entityRef="adversary" relativeDistanceType="cartesianDistance" value="300" freespace="false" rule="lessThan" />`

As the cartesian distance between ego and adversary is < 300 since spawning, hence the trigger condition does not run.
Can you try to set a shor

[2020-10-08 10:00] fabianoboril commented on #654
Hi,
can you share your scenariofile with us? This would help us to debug the issue.

[2020-10-08 11:01] fabianoboril opened #655 "Test & Support ALKS OpenSCENARIO examples"
Some additional OSC examples were published here:
https://github.com/arauschert/OSC-ALKS-scenarios

Test and find out what we need to support.

[2020-10-08 14:43] Lu7913 commented on #654
Did some more testing, so I performed two bare bones stopping the car scenarios. So the car is driving for some time, speed is changed and another speed action is triggered to stop the car, when first speed action is finished (StoryboardElementStateCondition). The car stops...

Second scenario is similar except instead of first speed change action, lane change is performed, and when it's finished,

[2020-10-08 23:56] kino3 opened #657 "Autopilot does not work in 0.9.10"
**Describe the bug**
autopilot mode in manual_control.py does not work (ego vehicle does not start automatically) in the newest carla 0.9.10.1 and scenario runner plugin (both 0.9.10 and master as of 2020-10-09)

**To Reproduce**
1. build and launch Carla server (0.9.10.1)
2. `python scenario_runner.py` (specify the python scenario or openscenario)
3. `python manual_control.py -a`
4. Ego vehicle d

[2020-10-09 20:00] jimmyw404 commented on #636
@lucasnmatias  Would be interested in seeing this and would also be interested in hearing your process for creating these scenarios!

[2020-10-09 21:15] lucasnmatias commented on #636
@fabianoboril yes it would work! Sorry for the delay, within some days I will make the PR.
@jimmyw404 yes, we can discuss and I share the experience of the scenario creation process.

[2020-10-11 10:09] kargarisaac commented on #495
I have the same problem. can you take a look at https://github.com/carla-simulator/carla/issues/3424

[2020-10-12 15:08] Lu7913 commented on #654
Sorry for late response.

[code]

[2020-10-13 00:05] aaronh65 opened #660 "Deploying custom agents on custom scenarios"
I'd like to deploy a custom agent (something like the Learning by Cheating approach) on custom scenarios, but it looks like this is only supported through RouteScenarios. I haven't been able to find a tutorial on how to set up RouteScenarios of my own creation, is there a recommended way of approaching this?

On another note, RouteScenarios seem quite heavyweight for my use case - I'm interested i

[2020-10-13 21:38] jimmyw404 opened #661 "Scenario Generation Workflow"
Thank you for making the CARLA Scenario Runner, it's a huge task and one that really completes the CARLA simulation.

We are utilizing it in a standard way: challenge an ADS with scenarios to improve and validate it.

We've developed our own map and are looking to decorate it with a library of scenarios. Our goal is to have a dense set of scenarios that exist within a map. We've started this proce

[2020-10-13 21:39] jimmyw404 commented on #661
#40
#429
#576
#636

[2020-10-14 08:40] glopezdiest commented on #660
Hey @aaronh65. All agents are indeed supported for scenarios outside routes, it is just that in the case of routes, they are run by SR directly, so they need to be given. However, the same way you can run the manual control on a separate terminal, you can create your own agent or modify the owns available at the PythonAPI (*carla/PythonAPI/carla/agents/navigation*), and they'll work just fine. Als

[2020-10-14 10:19] glopezdiest commented on #657
Hey @kino3. Indeed you are right. We added synchronous TM to SR at 0.9.10 but it was always being set to synchronous, even at async simulations, which was causing problems. This PR should fix it

[2020-10-14 10:28] #657 closed

[2020-10-15 08:00] sagar-g-v opened #663 "question about stable version"
Hi,

I have been using scenario runner 0.9.9 till now.

now i want to start using 0.9.10 and its new features.

But 0.9.10 is still not stable to satart using it completely.

can i know how long will it take to make current version as stable?

if any help needed to evaluate the functionalties. I can help.

Regards,
Sagar G V

[2020-10-15 13:35] fabianoboril commented on #663
Hi,
do you refer to that there is no 0.9.10 branch? You could use the tag v0.9.10, or simply stick to master. API breaking changes should not happen to many now, since we mostly work on bringing in new OSC features, which should happen under the hood.

[2020-10-15 13:39] fabianoboril commented on #661
Thx @jimmyw404 for the nice summary.

Speaking of myself, I learned my way to work with the XMLs directly, but I also understand that this is very inconvenient. We are trying to bring up a more user friendly UI, maybe based on carlaviz. But we are in a very early stage, exploring the territory, so nothing to take for granted yet.

Regarding your listed options:
CarMaker and VTD are unfortunately c

[2020-10-15 19:04] sagar-g-v commented on #663
I think sticking to `master` makes sense.
I will evaluate master branch and find issue and fixes.

Thank you.

[2020-10-15 19:04] #663 closed

[2020-10-19 06:34] Lu7913 commented on #654
Maybe somebody tried to run scenario above? I'm still stuck here.

[2020-10-19 13:03] lucasnmatias opened #667 "RSS Sensor on Scenario Runner"
From CARLA [documentation](https://carla.readthedocs.io/en/latest/adv_rss/) I've seen that there is a RSS sensor that can be built on CARLA. I would like to know if it would be possible to build and use it on Scenario Runner (I'm using CARLA 0.9.8). If it's possible how I could do that?

[2020-10-19 17:01] fabianoboril commented on #667
Hi,
there are a couple of options how you can use the sensor.
1: Add the sensor similar to the collision sensor:
https://github.com/carla-simulator/scenario_runner/blob/60d6c1588c07d6b2eef55e95974f403ee52723ca/srunner/scenariomanager/scenarioatomics/atomic_criteria.py#L285
You could add an "RssTest", that makes use of RSS.
2: You could add the sensor directly to your agent (see the CARLA documenta

[2020-10-19 17:33] lucasnmatias commented on #667
Thanks! I managed to attach the sensor to the car but the callback function is never called. I have defined a print callback function to see the data `rss_sensor.listen(lambda rss_data: print(rss_data))` but no data is printed.

[2020-10-20 07:23] TeeManiac opened #670 "AttributeError: module 'carla' has no attribute 'WeatherParameters'"
Build Carla from source (v 0.9.10) and build scenario runner from source (v 0.9.10) in Windows 10 using python 3.9

Added the environment variables and python paths as shown:
set CARLA_ROOT = C:\Users\simple\Desktop\Carla
set SCENARIO_RUNNER_ROOT = C:\Users\simple\Documents\scenario Runner\scenario_runner
set PYTHONPATH=C:\python;C:\Users\simple\Desktop\Carla\PythonAPI\carla\dist\carla-0.9.10-py3.

[2020-10-22 03:04] jy723 commented on #670
maybe the python version is not match.
I use carla0.9.10 python3.7

[2020-10-22 05:03] #670 closed

[2020-10-22 05:03] TeeManiac commented on #670
The issue was not with python 3.9 but with .egg file.

[2020-10-26 13:25] asgardus opened #672 "Leading Vehicle stagnant in scenario"
Hi,

I invoked the scenario FollowLeadingVehicle_1 and then invoked manual_control.py to have an ego vehicle, which worked..

I drive up behind the spawned vehicle by the scenario, but the spawned vehicle doesn't move and nothing really happens until 60 seconds pass and the scenario times out. The same happened with FollowLeadingVehicleWithObstacle_1. Is this supposed to happen? According to scena

[2020-10-27 08:19] glopezdiest commented on #672
that definitely shouldn't happen, we'll take a look

[2020-10-27 13:59] fabianoboril commented on #672
Hi,
I tested the scenario with Python 2.7 and Ubuntu 16.04 using the current master of SR. For me this works. Could you please run the scenario with the "--debug" option. This should visualize the behavior tree, and would allow us to get an understanding, which node is not properly executed.

[2020-10-28 00:26] kino3 opened #673 "Examples of AssignRouteAction in OpenSCENARIO?"
Are there any examples of using `AssignRouteAction` and `AcquirePositionAction` tag in OpenSCENARIO which have tested already in the latest plugin?
I am trying to use this tag to turn left or right in an intersection, but I haven't yet.
There are no examples of these tags in the "examples" directory.
https://carla-scenariorunner.readthedocs.io/en/latest/openscenario_support/ saids that these tags

[2020-10-28 06:48] asgardus commented on #672
Hi, thanks for the prompt response. I am away from my system and will get back to you with logs in a day or two, thanks again..!

[2020-10-29 13:16] Lu7913 commented on #673
I did some testing on _RouteAction_, it seems that the vehicle goes straight to the way point, I'm not sure which _RouteStrategy_ ScenarioRunner/Carla supports, if any in terms of openSCENARIO. Since I'm having troubles with _WorldPosition_ (My reference point seems to be wrong, or something), i did this with _LanePosition_.  If you define enough waypoints you can make it work.

This example is ve

[2020-10-30 12:45] asgardus commented on #672
[scenario_bug_report.txt](https://github.com/carla-simulator/scenario_runner/files/5465146/scenario_bug_report.txt)

Output of scenario command
Scenario start
![scenario_start](https://user-images.githubusercontent.com/20223787/97706501-1a25ff80-1ab6-11eb-833e-91145bc8cc42.png)

Scenario end
![scenario_end](https://user-images.githubusercontent.com/20223787/97706520-21e5a400-1ab6-11eb-86e3-7a4e63b

[2020-10-30 13:30] glopezdiest commented on #672
Oh, I see :slightly_smiling_face:. **You have to use ScenarioRunner's manual control, not CARLA's version**.

Regarding CARLA's version of manual control, in order to control a vehicle, it first has to be spawned, and this is done at a random point in the town. This however, isn't required at ScenarioRunner, as we want to control a specific vehicle which has already been spawned. That's why there

[2020-10-30 13:41] asgardus commented on #672
I feel stupid now, thanks, maybe I lazy read the documentation and files with same names are a nightmare for me so I couldn't make the distinction. I'll try this.

[2020-10-30 13:42] #672 closed

[2020-11-02 08:36] glopezdiest commented on #672
That's the number one issue users have when starting to use SR, don't worry too much about it :slightly_smiling_face:

[2020-11-02 08:49] vikilancer opened #675 "Any alternative way to maneuver vehicles in curved road"
I am trying to maneuver external actors (traffic vehicles) in a 2000m long curved road.
Currently I am using a tag named "AssignRouteAction" and  have manually provided the worldposition(x,y) to move the vehicle in the curved path.
Is there any other possible way to maneuver the external actors in curved road without providing worldposition in .xosc?

![AssignRouteAction](https://user-images.githu

[2020-11-02 11:51] Kipt opened #676 "manual_control.py uses hard-coded port 8000 for TM"
I'm running several Carla instances through Docker and map the Traffic Manager port, but _manual_control.py_ includes the _manual_control.py_ in the examples folder that uses default port. This causes a runtime error in `KeyboardControl` constructor, `world.player.set_autopilot(self._autopilot_enabled)`.

Steps to reproduce:
1. Run Carla in Docker and don't expose port 8000.
2. Run scenario runner

[2020-11-02 17:37] #638 closed

[2020-11-04 11:53] glopezdiest commented on #676
Hey @Kipt. That is indeed the case. However, this isn't an SR problem but a CARLA one, as we are only inheriting from that class. I'm moving to the CARLA repository

[2020-11-04 12:04] glopezdiest commented on #675
Hey @vikilancer, there are basically two options to move a vehicle:

The first is one is to use **CARLA's autopilot**, which you can set by *ActivateControllerAction*. With that the **vehicle will randomly move around the town.** The main disadvantage is that you can't it's route so at intersections, the actor will choose a random exit.

The second one is to use an ***AssignRouteAction*** (which y

[2020-11-04 12:09] SiNa-Dehbari commented on #449
Hello guys,
I have the same issue.

I've set parameters as below:

set CARLA_ROOT=D:\Softwares\Engineering\Simulators\Carla\WindowsNoEditor
set SCENARIO_RUNNER_ROOT=D:\Softwares\Engineering\Simulators\Carla\scenario_runner-0.9.10
set PYTHONPATH=%PYTHONPATH%;%CARLA_ROOT%\PythonAPI\carla\dist\carla-.egg
set PYTHONPATH=%CARLA_ROOT%\PythonAPI\carla\agents
set PYTHONPATH=%CARLA_ROOT%\PythonAPI\carla
se

[2020-11-04 12:15] glopezdiest commented on #449
@SiNa-Dehbari This is related to python not finding the CARLA egg. Could you check that the CARLA *.egg* is at the PYTHONPATH and that the path is correct)

[2020-11-04 12:25] glopezdiest commented on #673
Hey, sorry for the delay. As you've pointed out, there are currently no examples of the AssignRouteAction at the repository.

However, could you explain more in detail what

means? This might be because of the controller but by default, the route waypoints given through the *AssignRouteAction* are used to create a more dense route which takes into account the map lanes, intersections... so the tur

[2020-11-04 13:39] Lu7913 commented on #673
For me this meant that vehicle would go straight to the next waypoint, which would result in cutting corners  or crashing into objects.
As I've just saw in #675, controller must be assigned to the vehicle in order to get this working.
Sorry, for my misunderstanding.

[2020-11-04 14:20] glopezdiest commented on #673
Ah don't worry about it, I understand that that part of OpenSCENARIO can easily lead to confusion. All's good as long as it ends up working.

@kino3 I'm closing this issue as @Lu7913 has already provided a working answer. Feel free to open it if you feel like its incomplete, or you have further doubts

[2020-11-04 16:49] fabianoboril commented on #673
We just added support to use other routing strategies besides "shortest". Please see PR #677

[2020-11-04 16:51] fabianoboril commented on #675
This is only partially correct. For the shortest routingStrategy this does not happen. There really a direct connection is used. However, by a real coincidence, I required this feature today, so there is now a PR for this #673

[2020-11-04 21:25] SiNa-Dehbari commented on #449
Thank you @glopezdiest
I changed the path and fortunately that error was disappeared.
but still I am not able to run any scenario.

I follow these steps:
1- open CarlaUE4.exe
2- run an example from PythonAPI folder. (to make sure everything works fine)
3- open new terminal on scenario runner folder and run this line of code:

python scenario_runner.py --scenario FollowLeadingVehicle_1 --reloadWorl

[2020-11-05 01:07] kino3 commented on #673
Thanks for all the comments! I will try again.

[2020-11-05 08:54] glopezdiest commented on #449
Yeah, you are just missing one more step. This command ```python scenario_runner.py --scenario FollowLeadingVehicle_1 --reloadWorld``` creates the scenario, now you have to launch the manual control (the ScenarioRunner version!!), in order to manually move the ego vehicle.

[2020-11-05 11:45] SiNa-Dehbari commented on #449
Thank you so much @glopezdiest
I think I have set the variables permanently on windows.
(when I open a new terminal I don't set variables by command any more and I get no error)

but in the 3rd step, I open new terminal and write this command:

python manual_control.py

and get this error:

Traceback (most recent call last):
  File "manual_control.py", line 67, in <module>
    from examples.manual

[2020-11-08 23:54] kino3 commented on #673
@Lu7913 Hi, could you give me the full (works as it is) example OpenSCENARIO file which you mentioned before? I guess your example was an excerpt. In addition to that, it would be helpful if you could explain the meaning of "enough" waypoint. I didn't understand how do we know our defined waypoints are enough or not.

[2020-11-09 07:00] sagar-g-v opened #678 "TTC for MiscObject error"
Hi,
I am trying to use TTC with respect to static object (barrier) and vehicle.

but i am geeting the bellow error.

![Screenshot from 2020-11-09 10-58-08](https://user-images.githubusercontent.com/30094391/98509066-95419f80-2286-11eb-984d-3e732e1f5d09.png)

It is saying that static object does not have bounding_box attribute.

I think this bug is introduced in #666 when freespace is implemented.

[2020-11-09 09:55] glopezdiest commented on #678
hey @sagar-g-v. I'll take a look at it. Could you pass me the .xodr you are using in order for me to reproduce it?

[2020-11-09 11:07] sagar-g-v commented on #678
@glopezdiest

[Test.zip](https://github.com/carla-simulator/scenario_runner/files/5509923/Test.zip)

attached .xosc file to reproduce the above issue
found the Issue to be because of barrier which does not have `bounding_box` attribute and made a small change in my local file

`InTimeToArrivalToVehicle`
[code]
Hope this will resuce your effort in finding the cause.

Thank you.

[2020-11-09 12:22] glopezdiest commented on #678
Thanks, I'll take a look ASAP

[2020-11-09 14:17] glopezdiest commented on #678
Yeah that's definitely an issue. It isn't related to any PR though. The problem is that currently, *carla.Actor*, have any bounding box attributes, whereas vehicles and walkers do.

[2020-11-10 05:20] kael53 opened #680 "Incorrect function calls"
**Describe the bug**
A clear and concise description of what the bug is.

There are several places where set_velocity and set_angular_velocity of the Vehicle class are incorrectly-accessed by scenariomanager as set_target_velocity and set_target_angular_velocity.

**To Reproduce**
Steps to reproduce the behavior:
1- Run the carla-simulator
2- Run the FollowLeadingVehicle scenario using scenario-ru

[2020-11-10 06:51] fabianoboril commented on #680
The problem is that you use ScenarioRunner master with an pre-0.9.10 CARLA version. Please either update CARLA to 0.9.10 or use the 0.9.9-branch of ScenarioRunner.

[2020-11-10 06:51] #680 closed

[2020-11-10 08:54] SiNa-Dehbari commented on #449
Dear All,
Regarding to my Problem:

`<Traceback (most recent call last):
File "manual_control.py", line 67, in
from examples.manual_control import (World, HUD, KeyboardControl, CameraManager,
ModuleNotFoundError: No module named 'examples'>`

I found that on the tutorial for  setting the variables, on the last line instead of   "   ;   "  is  " : ".

`<set PYTHONPATH=%PYTHONPATH%:%CARLA_ROOT%\Pyth

[2020-11-10 16:52] TeeManiac opened #682 "No output file generated for openScenario"
While running openScenario based scenarios in scenario runner, the result files are not getting generated. Tried the following commands:
python scenario_runner.py --openscenario srunner\examples\LaneChangeSimple.xosc  --reloadWorld --output --json and also tried
python scenario_runner.py --openscenario srunner\examples\LaneChangeSimple.xosc  --reloadWorld --output --file

A file named CARLA of siz

[2020-11-11 09:30] SchDevel commented on #653
Hey there,

sorry for my super late response. Thank you for your helpful comment @seowwj.
Playing with the start conditions solved my problem.
The reference to the documentation is very helpful.

Best regards
SchDevel

[2020-11-11 09:30] #653 closed

[2020-11-12 16:50] TeeManiac opened #683 "Parameterize weather in scenario runner"
I tried modifying the weather parameters in xml file for basic scenario configuration. But the weather parameters are not getting reflected in the carla world while running the scenario. But using manual control (Ctrl+C), I am able to visualize all the available weather conditions in the scenario. How can we parameterize the weather conditions in scenario runner so as to visualize the parameter ch

[2020-11-16 08:29] glopezdiest commented on #683
Hey @TeeManiac.

What exactly do you mean here? have you modified the xml like the example below?
![image](https://user-images.githubusercontent.com/58212725/99228379-d2f57980-27ec-11eb-8120-cfac222860f2.png)

I just tested it and its working fine on my side

[2020-11-17 03:42] TeeManiac commented on #683
@glopezdiest I had modified the parameter values as you have mentioned above.

I figured out the issue. I had a scenario runner release downloaded in the same working dir as Carla. But it had some issues. So I was working on scenario runner built from source in another directory. All the paths were set according to the new working directory. But scenario_parser was by default taking the cwd for sc

[2020-11-17 05:01] akshatamk opened #684 "Creating new scenario ."
Hello,
   how to create new scenarios in carla. Is it only only by creating python file(scripting) and the related XML file? Is there any scenario editor available for carla?
Please help!

[2020-11-17 08:21] glopezdiest commented on #683
Good to know its fixed

As far as I know, it doesn't, and all the tests I've done haven't given me any problems. ScenarioRunner knows where CARLA's API is with the use of the PYTHONPATH environment variable, so as long as that one is correct, the specific folder of SR is not important.

[2020-11-18 05:43] shimizhang opened #686 "cannot load scenario"
**I run into the following same error of each scenario**
When I run python scenario_runner  while open the manual_control, for each scenario I run into the "ERROR: failed to destroy actor 206: unable to destroy actor: not found" issue.

Who can tell me what is happening and how to fix this?

**Screenshots**
![image](https://user-images.githubusercontent.com/56880104/99489738-64bcce00-2936-11eb-8b2

[2020-11-18 07:06] seowwj commented on #684
Related to #661

[2020-11-18 08:26] glopezdiest commented on #686
Hey @shimizhang , that isn't really an error but a warning. It is caused by trying to destroy an actor that is already dead, but it doesn't affect the simulation. In other words, ignore it.

[2020-11-18 08:28] glopezdiest commented on #684
Currently, there is no editor available for the creation of scenarios. As you pointed out you have to either use the python file, or use the OpenScenario format.

[2020-11-18 08:28] #683 closed

[2020-11-18 08:54] #678 closed

[2020-11-18 09:11] glopezdiest commented on #682
Hey @TeeManiac, sorry for the delay. Checking the issues I thought this one was already solved. Did you manage to solve it? I just checked and it's working fine for me. A file named *CARLA:CyclistCrossing2020-11-18-09-57-58.txt* was created, with all the info needed.

However, I am working on Ubuntu, and not Windows so that might be an issue (maybe the *:* have a specific meaning there?). If you h

[2020-11-19 07:54] TeeManiac commented on #682
I fixed it by replacing ":" with "" in config_name and its working now.

[2020-11-19 08:05] fabianoboril commented on #682
@TeeManiac Thanks for this info. Maybe we should just remove this "CARLA:" for the output file, as it is more or less just an internal way of handling the different coordinate systems.

[2020-11-19 08:07] TeeManiac opened #688 "Agent support for all scenarios in one class"
Currently, when trying to run all the scenarios of one class, manual_control.py needs to be run separately whenever a scenario in the class is prepared. Is there any existing methods to keep the agent wait for ego vehicle while the other scenarios are getting prepared? If no, can you please add this feature?

OS: [Windows 10]
CARLA Version [CARLA 0.9.10]
Python version [3.9.0]
Scenario_runner Vers

[2020-11-19 16:20] glopezdiest commented on #688
That's currently not supported as right now the manual control automatically shuts down when the ego is destroyed. In order to add your feature, some kind of reset should have to be implemented, but I don't think it is as easy as it sounds. I'm sorry but there are no plans to do so right now, but feel free to do so and do a PR :slightly_smiling_face:

[2020-11-19 18:28] TeeManiac commented on #688
@glopezdiest  Thank you for the response. Will do a PR for this and will also try this from my side.

[2020-11-19 18:35] TeeManiac commented on #682
@fabianoboril Yes, I too think so as the json file for basic scenario just has the Scenario name + current time for the json file name.

[2020-11-20 00:57] kino3 opened #690 "Debugging python code inside Carla in VS Code?"
I'm using VSCode (in Ubuntu) to debug python code in this plugin. In some cases, I would like to debug the carla's python code (not in scenario runner's) by setting breakpoints etc. I'm trying but cannot find best way yet.
It would be helpful that someone to provide the example configuration of launch.json, settings.json etc..

[2020-11-23 11:32] SiNa-Dehbari commented on #577
Hello Everyone,

I have the same challenge.
I am new in Carla and ScenarioRunner. My problem is:  I want to define a scenario in Openscenario Format and run it automatically. (I don't want to use `manual_control.py`
could you please give me the commands?

Thank you in advance

[2020-11-24 06:57] kael53 opened #692 "metrics-manager.py fails to use explicit port"
**Describe the bug**
A clear and concise description of what the bug is.

metrics-manager.py fails when provided with an explicit port.

**To Reproduce**
Steps to reproduce the behavior:

run metrics-manager.py --log sample.log --metric sample.py --port 2000 to see the error

**Expected behavior**
A clear and concise description of what you expected to happen.

use the specified port without faili

[2020-11-24 08:46] SiNa-Dehbari opened #694 "Automatic Control"
Hello Everybody,

I have a basic question.

I want to run scenarios (Ego vehicles and actors) automatically. It means they move base on  waypoints or any other method, by their own. In other words, I don't want to use `manual_control.py`

could you please let me now **which controller** and **how** should I use?

Thank you in advance

[2020-11-24 23:21] kino3 commented on #690
Sorry, I answer my own question by [using settings.json and .env](https://binx.io/blog/2020/03/05/setting-python-source-folders-vscode/) properly.

[2020-11-24 23:21] #690 closed

[2020-11-25 10:12] akshatamk commented on #684
@glopezdiest Thank you for the response

[2020-11-25 10:45] Vela-zz opened #695 "OpenScenario 1.0.0"
Recently, I used esmini/pyoscx  to generate openScenario 1.0.0 standard file, then using carla/scenario_runner collaboration for
simulating, and I found some Condition tag, such like **TakeHeadAwayCondition**.. and some attribute in tag, like /**freespace**/ in **RelativeDistanceCondition**.

can scenario_runner team add a list about  tags or attributes of openScenario which can be used in carla s

[2020-11-25 10:59] tecena opened #696 "Adding actors at required (x,y,z) coordinates in Unreal Editor"
Hello,
I'm new to carla.
I'm modifying XML config file and trying to add (x,y,z) configuration value to place the ego vehicle and other vehicles in the map. Its really taking lot of time in trial and error to place the actors at positions and do not feel it as convenient way.
I have read in one solution as we can open our map in Unreal editor and place the vehicles at the required positions and th

[2020-11-25 11:08] tecena commented on #661
@jimmyw404
As you mentioned in the 2nd step , deciding the vehicle coordinates by positioning  the actors in UE editor. Can you explain as how to load a required map present in carla to UE editor and position the actors  .
Thank you

[2020-11-25 12:09] jimmyw404 commented on #661
@tecena , I run "make launch" which launches the UE editor. I can then open the map I need.

I have two computers side by side, which makes it easy to use this workflow to position actors. The coordinate frame is the same though the UE editor's distances are in centimeters and the scenario (and rest of CARLA) is in meters.

https://carla.readthedocs.io/en/latest/build_windows/

[2020-11-26 07:37] #692 closed

[2020-11-26 07:49] fabianoboril commented on #696
For the Unreal editor @glopezdiest might be the best to answer. However, you can also use any OpenDRIVE viewer, get the x-y coordinates, invert the sign of y, and you have your coordinates.

[2020-11-26 07:50] fabianoboril commented on #694
There are a couple of options:
1.	You run manual_control.py with autopilot enabled, but still you have to start manual_control.py then separately.
a.	You can incorporate the start of manual_control.py into the scenario runner, to make it easier to use.
2.	If you use OpenSCENARIO you can make use of a controller to control the ego vehicle. There is an example on github. If you use the simple_vehicl

[2020-11-26 07:51] #686 closed

[2020-11-26 08:01] #682 closed

[2020-11-27 10:06] pramo23 opened #697 "ModuleNotFoundError: No module named 'srunner'"
Hi everyone,
I have installed scenario runner with corresponding carla version. As provided in getting started page, i also exported corresponding path in my environment variable. Please refer to image below.

![image](https://user-images.githubusercontent.com/49407518/100436640-e7b0f780-309f-11eb-8b7a-caa0f7ea625a.png)

I'm able to run
`python scenario_runner.py --scenario FollowLeadingVehicle_1

[2020-11-30 09:11] glopezdiest commented on #697
Hey @pramo23. Yes, that's probably because most of the ScenarioRunner imports (if not all) are relative to the main scenario_runner folder, so you'll have problems

[2020-11-30 09:39] glopezdiest commented on #696
Hey @tecena. Are you working with the packages or from source? In order to open the CARLA maps with Unreal you have to build CARLA from source. From there, you do a *make launch* to run Unreal which will open up the default town .

![image](https://user-images.githubusercontent.com/58212725/100592244-22f93380-32f7-11eb-8faa-48ec18179128.png)

On the left you can see an *Empty Actor*. You can drag

[2020-11-30 09:45] glopezdiest commented on #695
Hey @Vela-zz, you can check the current support of OSC [here](https://carla-scenariorunner.readthedocs.io/en/latest/openscenario_support/)

[2020-11-30 10:58] Vela-zz commented on #695
Thank you !

[2020-11-30 10:58] #695 closed

[2020-12-03 08:45] glopezdiest commented on #626
As of #689, SynchronizeAction is now supported

[2020-12-03 08:50] glopezdiest commented on #562
Hey, as of PR #689, SynchronizeActions are now implemented

[2020-12-03 08:50] #562 closed

[2020-12-04 00:59] #673 closed

[2020-12-04 09:05] TKeutgens opened #700 "LaneChangeSimple.xosc Example"
**Describe the bug**
When running the LaneChangeSimple.xosc example on my Windows machine I get the following bug.

WARNING:[SR:OpenScenarioConfiguration]:` Wrong OpenDRIVE map in use. Forcing reload of CARLA world
Preparing scenario: CARLA:LaneChangeSimple
ScenarioManager: Running scenario OpenScenario

[code]

When I print the internals of the the two variable I get the following:
current_loc =

[2020-12-04 09:17] TKeutgens commented on #700
When switching to the newest py-trees version (2.1.2), the error changes into the following:

[code]

So I guess the issue is related to py-tress.

[2020-12-04 09:27] fabianoboril commented on #700
Newer py_trees versions are _NOT_ supported.

I will look into the other problem and get back to you.

[2020-12-04 11:18] fabianoboril commented on #700
Hi,
at the moment I cannot reproduce your Problem with Python 2.7 or 3.5. Are you using CARLA 0.9.10 or 0.9.10.1?

[2020-12-04 12:09] glopezdiest commented on #700
Hey, that's actually a CARLA related problem for Windows. As of 0.9.10.1, the *get_waypoint()* function fails when used with the *carla.LaneType.Any*.

These is already fixed on CARLA's *dev* branch and will be updated to master along with the next version update. In the meantime, you can cherry-pick these two commits ([1](https://github.com/carla-simulator/carla/commit/530f56e78b999550670c7e5002b

[2020-12-04 12:31] tecena commented on #696
@fabianoboril @glopezdiest
Thank you,
I'm using the Carla from source.

[2020-12-04 13:08] TKeutgens commented on #700
@fabianoboril and @glopezdiest thank you very much for your help! The now code line fixed the issue.

[2020-12-04 13:08] #700 closed

[2020-12-04 17:21] TKeutgens opened #701 "Issue: generate_target_waypoint_list_multilane"
First of all thank you for your great work and the great support!

I tried to edit the LaneChangeSimple.xosc example to a new location. What I discovered was, that the lane change only works if I edit the generate_target_waypoint_list_multilane  function. I had to replace the return to a break in order for the vehicle to execute the lane change.

[code]
I attached the files to reproduce the error.

[2020-12-08 06:12] Sumza opened #703 "OpenScenario support - TeleportAction"
I have observed that when **TeleportAction** is used, the entity gets teleported to the required location but with the reset in velocity   ( i.e. Entity velocity comes back to zero) and then the consecutive events are executed.

Is this the desired behaviour or any future updations is in progress for the **TeleportAction** tag ?

[2020-12-11 00:11] kino3 opened #706 "Enable waypoint debugging by command line argument"
**Is your feature request related to a problem? Please describe.**
When I using this plugin with OpenSCENARIO, I would like to debug the waypoints which I specified in the OpenSCENARIO file.
I found that modifying [this flag](https://github.com/carla-simulator/scenario_runner/blob/0ff0ebe7fb0ee2de1f157b11ed450e7b981398bf/srunner/scenariomanager/actorcontrols/npc_vehicle_control.py#L89) from False

[2020-12-11 09:22] glopezdiest commented on #703
Hey @Sumza, we have no current plans to change the TeleportAction, and yes, the reset of velocity is intentional, for stability purposes. Is it bothering you in any way that reset? we are mainly using it when spawning actors, so if that's the case, I'm curious to see your use case

[2020-12-11 10:38] Sumza commented on #703
Hey @glopezdiest , we are using Teleport action in story to achieve Re-Initialization of traffic objects with desired relative position and keep the velocity. We also observe that Teleport Action affects the stability of TV if started with previously achieved velocity in curve road profile.
Is there any other way to achieve the re-initialization of traffic without reset of velocity during the simu

[2020-12-11 11:11] glopezdiest commented on #703
I see. If you really don't want to reset the velocities, you can directly remove it. You can go to *srunner/scenariomanager/scenarioatomics/atomic_behaviors.py*, class *ActorTransformSetterToOSCPosition* and remove this part of the code at the *initialize* function

[code]

[2020-12-15 06:39] tecena opened #707 "How to add the behaviors to behavior tree."
Hello,

    I'm facing problem in writing the new python script while creating new scenario. I understood that there 4 parts/methods in each scenario file. I'm facing trouble in adding behaviors to the behavior tree. I'm able to add needed behaviors for the actors. But not getting clear idea on adding behaviors in parallel and sequential to the tree. which all behaviors are to be added in sequence

[2020-12-15 09:20] tecena opened #708 "Description for the criteria faliure"
Hello,

    When ever we run a test criteria, the result we are getting is either SUCCESS - TRUE or FALSE.
![image](https://user-images.githubusercontent.com/75019091/102192254-8c289b80-3ee0-11eb-8a07-96ebe3834bbe.png)
we are not getting any reason for the failure. Is there any way to get the description about failure as why is this criteria failed. what is the reason for the failure.
And for Dura

[2020-12-16 18:03] kuasho opened #710 "Autopilot does not follow the route"
Dear all,

I am debugging the scenarios of the leaderboard using the scenario runner for other purposes than the autonomous driving.

I set the agent in autopilot using the command P to start the navigation, and I realized that it does not follow the route that is set on the .xml, which I can see on the image using the flag --debug as some markers

 - OS: [e.g. Ubuntu 18.04]
 - CARLA Version [e.g.

[2020-12-17 08:32] glopezdiest commented on #710
Hey @kuasho, I understand you are using the autopilot function of the manual control? If that's the case, when activating it, the autopilot uses the TrafficManager, which makes the vehicles randomly move around the town. That feature has nothing to do with the leaderboard's route. I'd suggest using the [*npc_agent*](https://github.com/carla-simulator/leaderboard/blob/master/leaderboard/autoagents/

[2020-12-17 09:31] kuasho commented on #710
Thanks for the advice @glopezdiest

Does the npc_aget allow a manual control using the keyboard?
Or I have to mix both codes in order to get these two driving behaviours?

[2020-12-17 09:55] glopezdiest commented on #710
Indeed, the npc_agent is completely autonomous and doesn't support keyboard controls. If you want to do that, I'd recommend merging the npc_agent into the human_agent.

[2020-12-17 13:23] kuasho commented on #710
Thanks for your answer, I really appreciate

[2020-12-21 05:52] akshatamk commented on #707
@tecena @even I'm facing the same issue. Not getting clear idea on how to build the behavior tree . I can create the behaviors. But not clear understanding on how to build the behavior tree. Please Help!

[2020-12-22 02:16] tangbaoGoGo opened #712 "Runtime error: map not found when using open scenario"
Hi，I'm trying to use Scenario Runner to run the OpenScenario scenarios and use Open Drive maps. I created a simple road scene in Road Runner and exported it by CARLA option. I decided to test the scene by ChangingWeather.xosc example in /srunner/examples, so I changed the "RoadNetwork" to below:

![image](https://user-images.githubusercontent.com/36325385/102840841-aa414f00-443e-11eb-9fac-a9a6e870

[2020-12-22 09:43] fabianoboril commented on #712
Hi,
this seems to be issue inside CARLA. Can you maybe share the xodr file? Then we could take a closer look. @glopezdiest Do you have a direct idea what the issue could be?

[2020-12-22 15:25] glopezdiest commented on #712
In short, ScenarioRunner isn't meant to be used with OpenDRIVE maps, which makes the API use the wrong function.

If you want to load a **CARLA town**, you have to use `client.load_world(town_name)`, which is the way ScenarioRunner does it.
[code]

However, if you want to use an **OpenDRIVE map**, you have to use `client.generate_opendrive_world(odr_file)`.
[code]

That's how the OpenDRIVE maps ar

[2020-12-23 09:20] fabianoboril commented on #708
Hi,
I think you have already everything at hand, that you are looking for. The expected value represents that target value of the criterion, and the actual value is the one that you vehicle under test achieved in the scenario. Take for example the KeepLane criterion. It is expected that this is never violated (expected value = 0). However, your vehicle left the lane 4 times (actual value = 4). Hen

[2020-12-24 09:41] tangbaoGoGo commented on #712
Hi Thank you for the answers!

By "ScenarioRunner isn't meant to be used with OpenDRIVE maps", do you mean that I should not reference .xodr file in `<RoadNetwork>` tag, but should reference "Town01" or some other map name?

I read the "Add new map" section in CARLA documentation and found that I still need to import the .fbx & .xodr & .xml files (from RoadRunner) into Unreal Engine and finally ex

[2020-12-24 21:53] kino3 opened #714 "waypoints missing? (IndexError: deque index out of range)"
**Describe the bug**
I'm trying to play the following OpenSCENARIO (`sample.xosc`) which describes intersection (`X-Junction-sample.xodr`). The ego vehicle goes straight and the other vehicle turns left according to the waypoints in the OpenScenario.
[scenario.zip](https://github.com/carla-simulator/scenario_runner/files/5740549/scenario.zip)

However, the ego vehicle suddenly vanished since it ca

[2020-12-30 10:55] fabianoboril commented on #714
Hi,
this is a CARLA issue (see that the error occurs in the LocalPlanner of CARLA. I will move the issue to CARLA directly.

[2020-12-31 09:51] iremonur opened #715 "IndexError: bytes to write exceed buffer size"
Hi, I'm trying to use Scenario Runner to run the OpenScenario scenarios using manual_control.py. In separate terminals, I run the simulator, scenario_runner.py and manual control.py with these commands:

$ ./CarlaUE4.sh -opengl Town04
$ python scenario_runner.py --openscenario <path_to_scenario>
$ python manual_control.py

After i run manual_control.py, i got the IndexError:

Traceback (most recen

[2021-01-07 08:32] glopezdiest commented on #712
Technically yes, the way it is right now, you can only use CARLA maps, not OpenDRIVE maps. In order to support xodr maps, you should change the start of *_load_and_wait_for_world()* function at *scenario_runner.py*, to something like this:

[code]

[2021-01-07 09:00] fabianoboril commented on #712
No. Using OpenSCENARIO, you can use any OpenDRIVE map directly. It is ensured in https://github.com/carla-simulator/scenario_runner/blob/e99f4dede78f3168248d8db0b1fc6b099469dcee/srunner/scenarioconfigs/openscenario_configuration.py#L162  that the map is correctly loaded.

[2021-01-08 08:21] glopezdiest commented on #712
@fabianoboril I definitely didn't remember that. However, at the openscenario configuration, you are just storing the *town* information, whereas the loading of the map is still always done through the `load_world()`, function, which doesn't accept xodr maps.

[2021-01-11 08:47] glopezdiest commented on #712
Okay, I could finally test it and indeed it works well with OpenDrive maps.

@tangbaoGoGo However, for this issue specifically, the problem lies in that you are using the `reloadWorld` with OpenSCENARIO, which isn't needed as it automatically loads the correct map. This `reloadWorld` does always use the *load_world* function, which is why is fails when using an xodr. Just remove it and the problem

[2021-01-18 11:14] athulg opened #717 "Throws an error while running manual_control.py"
Hi, I followed all the steps accordingly but when I try running manual_control.py it throws the below error. I also double checked the paths and environment variables.

I have Python 2.7 and CARLA 0.9.10
[code]
Thank you!

[2021-01-18 13:05] athulg commented on #717
I solved this, I just had to add an init.py file on the top of ~/PythonAPI/examples folder.

Now when I run scenario_runner.py I get another error

[code]

Thanks!

[2021-01-19 10:12] glopezdiest commented on #717
Hey, CARLA 0.9.9 uses the `carla.Vehicle.set_velocity` function but, when we updated to 0.9.10, it was changed to `carla.Vehicle.set_target_velocity`. We updated SR to also reflect this. From your error, seems like you are using CARLA 0.9.9 (or lower) and SR 0.9.10? Is this the case?

[2021-01-19 10:35] AthulGangadharan commented on #717
Hello @glopezdiest , Thank you for the response, I've Unreal Engine version 4.24.3, Carla version 0.9.10 & SR 0.9.10

[2021-01-19 10:37] athulg commented on #717
Hello @glopezdiest, thanks for the response, I've Unreal Engine version 4.24.3, Carla version 0.9.10 & SR 0.9.10

[2021-01-19 14:47] glopezdiest commented on #717
That strongly leads me to believe that your CARLA isn't 0.9.10, as those are incompatible (due to these velocity API changes). Maybe, what you can do in order to make sure you are using 0.9.10 is to go to `carla/PythonAPI/carla/source/libcarla/Actor.cpp`, where you'll find some of the Python API mapping to the C++ functions. The `set_target_velocity` mapping is around line 100. Check whether or no

[2021-01-20 17:13] jasonxzzhang opened #718 "LaneChange manoeuvre unstable"
Hi, first of all thanks for all the effort input into make the scenario runner, I personally find it is very useful for my research. I would like to report an issue I have while running a scenario using python file.  I have pasted the sequence for one of the actors in my scenario. From the second lane change, it starts losing control and oscillating with an increasing amplitude, which causes not a

[2021-01-21 00:08] jasonxzzhang commented on #718
I think this might due to the synchronisation issue, I tried running scenario_runner in --sync mode, it gets much better however agent will still oscillate after changing lane but eventually it becomes stable

[2021-01-22 00:20] erouirior commented on #449
Hi SiNa-Dehbari,

I meet the same error of manual control as well, could you please tell me if I need to set the environment variables in the new terminal for manual control? (FYI, I set the environment variables through system. Sadly, I still meet the error after set the environment variables.)

Thanks,
Yang

[2021-01-26 16:13] semmelknoedel opened #719 "ScenarioRunner with Carla v0.9.11"
Hello,
is there a version that's compatible with Carla version 0.9.11?
I updated Carla to 0.9.11 but did not think that there might be no scenario_runner version, yet. The master is not working for me.
Carla alone is running without a problem, though.

[2021-01-27 03:13] Vela-zz opened #720 "OpenScenario <SpeedAction> Attributes support"
When I using Scenario Runner run a  openscearnio event,  like

[code]
which means the Target vehicle should accelerate or decelerate at 5m/s^2  untill target speed,
But in carla, especially on curve road,  when run by scenario runner, the IMU sensor reflects that the true decelerate speed is  only 2m/s^2 and not reach 5m/s^2, can scenario runner with carla control it precisely ?

docs in https://c

[2021-01-27 09:48] glopezdiest commented on #720
Hey @Vela-zz I think this is gonna be a long post so let's break it down in sections.

Most of the OSC actions dynamic transitions are not supported. This is definitely reflected in the docs of the more recent actions, but it might be missing for some of the first one (such as Speed Action). This is not supported because all these actions are generally achieved by using controllers, which aren't c

[2021-01-27 09:50] glopezdiest commented on #719
Hey @semmelknoedel, the tag is not there but we did the necessary changes to support 0.9.11. What issues are you seeing with current master and CARLA 0.9.11?

[2021-01-27 09:53] Vela-zz commented on #720
Thanks, I will try it

[2021-01-27 09:53] #720 closed

[2021-01-27 11:07] semmelknoedel commented on #719
Hi @glopezdiest, i get the following terminal output:

python3 scenario_runner.py --scenario FollowLeadingVehicle_1 --reloadWorld
Configuration for scenario FollowLeadingVehicle_1 cannot be found!
No more scenarios .... Exiting

But after rolling back to version 0.9.10.1 I have the same problem. So I will check if there is something else wrong.

[2021-01-27 11:22] glopezdiest commented on #719
That might be caused due to the lack of some environmental variables. Can you make sure that you have a *SCENARIO_RUNNER_ROOT* pointing to your scenario runner folder?

[2021-01-27 11:48] semmelknoedel commented on #719
Your were right. I lately changed something in my Paths and then the SCENARIO_RUNNER_ROOT was wrong. Thanks its working now!

[2021-01-27 11:58] glopezdiest commented on #719
Perfect! Closing this issue. However, feel free to open it again if the problem persists

[2021-01-27 11:58] #719 closed

[2021-01-28 04:16] shimizhang commented on #621
Hi,

I am testing this SlowTraffic scenario TOO. Did you solve the problem now? If solved, hope you can kindly provide the solution.

Best

[2021-01-28 13:56] athulg commented on #717
It turns out I had set_velocity (0.9.9) but my CHANGELOG in CARLA directory anyways showed I had 0.9.10. Anyways, I re installed CARLA 0.9.10 and it works fine. Thank you!

[2021-01-28 13:56] #717 closed

[2021-01-28 15:40] athulg opened #722 "RuntimeError: trying to create rpc server for traffic manager; but the system failed to create because of bind error."
Hello, I'm facing this error now every time I run scenario_runner.py, I installed SR again and tried scenario_runner.py and then it worked fine only once and now I again get this error.

[code]

Thank you!

 - OS: [Ubuntu 18.04]
 - CARLA Version CARLA 0.9.10]
 - Python version [3.6]
 - Version [0.9.10]

[2021-01-31 15:59] Fady-Maged-Louis opened #724 "manual_control.py example"
**Describe our question or idea**
I run manual_control.py example.

**Expected behavior**
pygame window flashes then close and error appear

[code]

**Desktop
 - OS: windows10
 - CARLA Version :CARLA 0.9.10
 - Python version 3.7.9
![manual error](https://user-images.githubusercontent.com/65659566/106389733-93066180-63ed-11eb-9e89-0151eee7d828.png)

[2021-02-02 10:54] sagar-g-v commented on #724
@Fady-Maged-Louis Try giving 10-20 sec timeout
search for ` client.set_timeout(2.0)` in manual_control and change it to higher value

[2021-02-02 11:00] sagar-g-v commented on #722
@athulg which scenario_runner version are you using?

if You are using carla 0.9.10 use the scenario runner version 0.9.10

[Version 0.9.10](https://github.com/carla-simulator/scenario_runner/releases/tag/v0.9.10) and the 0.9.10 Branch: Compatible with [CARLA 0.9.10](https://github.com/carla-simulator/carla/releases/tag/0.9.10)

[2021-02-02 16:10] athulg commented on #722
@sagar-g-v I'm using 0.9.10 CARLA with 0.9.10 SR

[2021-02-03 11:50] Fady-Maged-Louis commented on #724
unfortunately, the same problem

[2021-02-05 14:30] togaen opened #725 "Broken link in README"
**Describe the bug**
In the 'challenge evaluation' section of the README, the tutorial link is broken. The document it links to was removed in 31e4c80c0496c243a33649dc2aab743720de0b03.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to README.md
2. Click on 'this tutorial' in the Challenge Evaluation section

**Expected behavior**
Link should go to a document.

**Screenshots**
n/a

**Addi

[2021-02-08 19:56] ajdroid commented on #636
Hi @lucasnmatias, is this a PR I can find somewhere already? Thanks! :)

[2021-02-09 09:41] Sumza opened #726 "Inconsistency in speed for CARLA Blueprint for motorbike "vehicle.yamaha.yzf""
Inconsistency in speed(constant fluctuation of speed) is observed for the CARLA Blueprint "vehicle.yamaha.yzf" which results in uneven movement of vehicle.

In the below video file, we can see that the motorbike speed fluctuates between the range 50 - 60 Kmph while the speed is set to 60Kmph in the xosc file.

https://user-images.githubusercontent.com/68461250/107344800-e2811780-6ae8-11eb-848a-713

[2021-02-09 19:07] sagar-g-v opened #727 "Vehicle Maneuver Stops After LaneChange Event"
Hi,
I am trying to run OSC scenario with Lateral and Longitudinal events in parallel but I am not getting the expected results

below are my test scenario

1) accelerate --> lane chage --> decelerate
2) accelerate --> lane change --> lane change --> decelerate
3) accelerate --> lane change --> lane change --> accelerate --> decelerate

In all the cases vehicle does not perform the event that comes

[2021-02-11 09:49] glopezdiest commented on #725
Hey @togaen. Thanks for spotting that. That link was basically pointing to the CARLA Challenge 2019, which had a lot of very outdated information about scenario runner, so it was removed. That functionality is currently part of the [Leaderboard](https://github.com/carla-simulator/leaderboard, so maybe we could make that link point to it? I'm not sure right now, we'll think about it and report back

[2021-02-11 09:54] glopezdiest commented on #724
Hey @Fady-Maged-Louis, could you provide some more information?

How are you running the server? Your error is related to the client not being able to connect to the server.

Are you using [ScenarioRunner's manual control](https://github.com/carla-simulator/scenario_runner/blob/master/manual_control.py) or [CARLA's one](https://github.com/carla-simulator/carla/blob/master/PythonAPI/examples/manual

[2021-02-11 09:59] glopezdiest commented on #722
Hey @athulg, sorry for the delay. that isn't related to SR, but CARLA instead. Basically, you are trying to create the TrafficManager in a port that is busy. This tends to be caused by a  previous run of SR that hasn't been properly terminated, which means that the TM is still active. How are you running scenario runner exactly? Could you try using the `--trafficManagerPort` argument to another nu

[2021-02-11 10:29] Fady-Maged-Louis commented on #724
I use CARLA's one
I try to run some examples like spawn_npc.py and dynamic_weather.py they run perfectly but manual_control.py don't run

[2021-02-11 11:41] glopezdiest commented on #724
I'll take a look then. Not sure what could be the issue right now, as they both have the same method of getting the CARLA egg and creating the client.

PD: Also, transferring this issue to CARLA as this isn't ScenarioRunner related

[2021-02-11 21:24] Esquilli commented on #722
This issue happens to me sometimes. I just run `pkill -9 python` and then run everything again.

[2021-02-12 18:31] fabianoboril commented on #726
Hi,
I guess you are using the default controller for the vehicle, or did you specify a dedicated OSCController? If you use the default one, this may explain the observation. Would it be possible to use the simple_vehicle_controller? You can assign a controller like shown here:
https://github.com/carla-simulator/scenario_runner/blob/e735586789ea28b4a76ce8cb6a54fa3c28a7d7f7/srunner/examples/OscContr

[2021-02-12 18:54] #710 closed

[2021-02-12 18:55] #708 closed

[2021-02-13 02:30] Esquilli opened #729 "NoSignalJunctionCrossingRoute (Scenario10) Not Working on Custom Map"
**Describe our question or idea**
- Trying to adapt the NoSignalJunctionCrossingRoute scenario on my custom map.
- From my understanding, this scenario has some harcoded zones and that is why I created a new scenario (UnsignalizedIntersection).
- The only changes I had to do were the trigger regions, sync arrival, etc.
- I am able to start the scenario, but the other vehicle doesn't do anything ev

[2021-02-15 13:51] #729 closed

[2021-02-16 07:45] Lu7913 commented on #727
I'm experiencing similar issue #654. Also some problems with lane change: #718

[2021-02-18 11:03] TKeutgens commented on #700
@glopezdiest is the bug already fixed in the version 0.9.11?

[2021-02-18 12:01] glopezdiest commented on #700
Yeah it is

[2021-02-18 15:52] TKeutgens commented on #701
Update: Issue still exists for ScenarioRunner 0.9.11

[2021-02-22 12:48] semmelknoedel opened #730 "Metric module with Docker Container"
Hello,

when I use the metrics tool of the scenario runner (on my local machine) and running the Carla server in a docker container (remote machine), there is no .log file created. Is there a way to solve that problem? Is it because the Carla server runs on a remote system or because it runs in a docker container?

 - OS: Ubuntu 18.04
 - CARLA 0.9.11
 - Python version 3.6

[2021-02-22 14:52] Sumza commented on #703
Thankyou for your Input, It helped my requirement.

I tried implementing the Teleport Action on a curved road and below is the observed behaviour video output :

https://user-images.githubusercontent.com/68461250/108724291-2e9d7480-754b-11eb-8666-fa8d701046a4.mp4

When the Traffic vehicle is teleported from one part of the curved road to another part of the same curved road, we can see that the ve

[2021-02-22 21:01] sindujanarra commented on #81
from agents.navigation.roaming_agent import RoamingAgent
ImportError: No module named agents.navigation.roaming_agent
[Finished in 1.1s with exit code 1]
even after adding both CARLA_ROOT and PYTHONPATH to the Path system variable. it still throws error

[2021-02-24 08:01] Sumza commented on #726
Hi, I tried assigning the same controller as mentioned by you,
but i observed the same behavior again.

Can you guide me if it can be solved in any other way?

[2021-02-24 10:18] glopezdiest commented on #703
I'm sorry but for me, it seems like your video is corrupted. Is it also happening on your end? Can you perhaps re-upload it

[2021-02-24 10:52] glopezdiest commented on #730
Hey @semmelknoedel. this issue might not be related to SR, but the CARLA recorder itself. Could you please try it using the [CARLA recorder example script](https://github.com/carla-simulator/carla/blob/master/PythonAPI/examples/start_recording.py), and see if the *.log* file is being generated? Also, the log file might be erased once the docker is closed or you might not have the necessary permiss

[2021-02-25 06:16] Sumza commented on #703
The video is playing fine at my end, i am re-uploading the video.

Kindly check and let me know its running fine you this time.

https://user-images.githubusercontent.com/68461250/109111403-d5a62a00-775e-11eb-86b4-8c58e1d59505.mp4

[2021-02-25 09:21] glopezdiest commented on #703
Okay, yeah, its works fine for me now. I don't think we ever designed the TeleportAction to work as you are using it so there are bound to be some errors. How are you controlling that vehicle? XOSC controllers use the local planner, which has a waypoint buffer and you probably aren't resetting it, maybe that's causing some issues

[2021-02-26 08:58] DeepAnonymous opened #731 "Ego vehicle not found in manual_control"
Hi all,

I am new to scenario_runner, and I just want to run manual_control.py

However, the program just keep looping around "Waiting for the ego vehicle..."

`possible_vehicles = self.world.get_actors().filter('vehicle.*')
`
I tried to print `len(possible_vehicles)` and it shows **0**.

That means it cannot find any vehicle with the name `hero`.

Please help.

Thank you very much.

[2021-03-01 05:53] youngsend opened #732 "Why ActorDestroy and `remove_all_actors()` are both called in scenario classes?"
Hi, Carla team!
I find that in most scenario classes, `ActorDestroy` method is used in the end of the scenario behavior sequence (`_create_behavior`).
I wonder if this is necessary because `self.remove_all_actors()` is always called in `__del__()`.

**Desktop (please complete the following information):**
 - OS: [Ubuntu 16.04]
 - CARLA Version [CARLA 0.9.11]
 - Python version [3.5]
 - Version [0.9

[2021-03-01 10:42] youngsend opened #733 "ChangeAutoPilot to ego vehicle"
Hello Carla Team,
It's very convenient to set autopilot parameters for other vehicles by `ChangeAutoPilot`.
Can I use it to ego vehicle too?

I used `ChangeAutoPilot` to change `max_speed` and `auto_lane_change` parameters for `ego_vehicles[0]` (in `_create_behavior()`), and after I do `python manual_control.py -a`, the speed of ego vehicle seems not to change.

**Desktop (please complete the foll

[2021-03-01 11:40] youngsend commented on #733
Sorry I made a mistake. `ChangeAutoPilot` works to `ego_vehicles[0]`.

[2021-03-01 11:40] #733 closed

[2021-03-01 15:24] sterres opened #734 "Typo in getting started"
The environment variable section for Windows in getting started has a typo

In the last line, there is a ":" instead of ";"

This causes the "import error: module 'agents' not found" error

[2021-03-02 00:27] sagar-g-v commented on #727
Hi,
I found the cause of this issue

https://github.com/carla-simulator/carla/blob/master/PythonAPI/carla/agents/navigation/local_planner.py

After exausting `self._waypoints_queue` reseting `self._global_plan` to `False` is not done.
[code]

so when I added `self._global_plan = False` the issue is resolved.

[code]

[2021-03-02 00:53] sagar-g-v opened #735 "AbsoluteTargetLaneOffset not working"
Hi SR Team,

Thank you for adding support for OSC LaneOffsetAction.

I have tried creating scenarios with this tag but `AbsoluteTargetLaneOffset` is not working as expexted.
vehicle achieves the given offset and returns to default offset `0.0`. but it is supose to continue with the given offset.

[code]

**Desktop :**
 - OS: Ubuntu 20.04
 - CARLA Version : CARLA 0.9.11
 - Python version :3.8
 - SR

[2021-03-02 06:29] youngsend commented on #40
I opened the OpenDRIVE file with `odrViewer`. `odrViewer` will show x, y, z coordinate of the cursor position. However the free `odrViewer` seems to have disappeared from Internet...

[2021-03-03 05:18] DeepAnonymous commented on #667
Hi @fabianoboril

According to your saying, one > could add the sensor directly to your agent

In order to do this, in which files we should modify? manual_control.py?

Please help to give an update about this, I hope to add **cameras** and other sensors to see how these sensors record the environment.

Thank you very much.

[2021-03-03 09:41] semmelknoedel commented on #730
@glopezdiest  I tried it now with the recording tool. It says a file is created on my server machine, but the given folder is empty. I did not close the docker container, so this should not be the issue. I also ran the script on the server machine. The file is not generated there as well. However, there is one created inside the docker container. Is this the same file the metric tool is using?
May

[2021-03-03 10:20] glopezdiest commented on #731
Hey @DeepAnonymous, you have to first run a scenario with `python scenario_runner.py --scenario <scenario_name>` and then run that manual control on another terminal, to connect to the scenario you just started. Take into account that scenarios tend to have a 60s timeout, and after that, they'll be automatically stopped.

[2021-03-03 10:23] glopezdiest commented on #732
Hey @youngsend, we general methodology is to use the `ActorDestroy` for actors that end their behavior in weird places (such as bikes in the middle of the road). On the other side, the fact is that trying to remove an actor that is already dead doesn't create any issues (such a warning printout), so we also tend to add more `ActorDestroy` than necessary.

[2021-03-03 10:42] youngsend commented on #732
@glopezdiest, thank you for the explanation! I see.

[2021-03-03 10:42] #732 closed

[2021-03-03 11:56] glopezdiest commented on #735
Hey @sagar-g-v, Is your code based on the example at PR #702 (Added support for LaneOffsetAction)? I just tried that XOSC scenario and its variations (absolute and relative positions), and it seems to be working fine by me. If not, could you send me your XOSC file? Also, note that if the offset is high enough to make the vehicle exit its lane, the action will most likely break

[2021-03-03 19:13] sagar-g-v commented on #735
Hi @glopezdiest I have made some changes to example at PR #702 to show my use case.
[LaneOffsetActionTest.zip](https://github.com/carla-simulator/scenario_runner/files/6078451/LaneOffsetActionTest.zip)
In this case obsolute lane offset is used immediately after lane change

Sorry i forgot to mention that I have modified SR and local_planner little bit before running this example but it was not wor

[2021-03-04 08:34] glopezdiest commented on #735
Okay, I'll take a look to both this problem and #727  and report back

[2021-03-04 10:33] glopezdiest commented on #735
After some tests, I am indeed seeing your problem but it isn't related to the `LaneOffset` but rather a mix between the controller and the `LaneChange`. As such, I'll explain in depth what I found in issue #727.

[2021-03-04 11:31] glopezdiest commented on #727
Hey @sagar-g-v. Sorry for the huge response delay but yes that is indeed the case. _Warning: Long explanation incoming_.

By default, the local planner works by randomly moving the actor through town, while automatically populating the waypoint buffer so that it never ends. Additionally, a specific route can be given by the user (see [this function](https://github.com/carla-simulator/carla/blob/ma

[2021-03-04 14:28] glopezdiest commented on #734
Hey @sterres, that is indeed the case, thanks for pointing it out.

[2021-03-05 18:15] sagar-g-v commented on #727
Thank you for the detailed explaination. I will check and update my status here

[2021-03-07 16:49] DeepAnonymous commented on #731
Thank you for your reply.

[2021-03-07 16:56] DeepAnonymous commented on #694
Hi @fabianoboril ,

Could you please help to indicate where is the example with "simple_vehicle_control" on github. I couldn't find it.

I tried to set as follow, but nothing happens. And how to save the attach_camera image as well.
[code]

Thank you.

[2021-03-07 17:06] DeepAnonymous commented on #694
And how to start / view the scenario as well, when we don't need to run 'manual_control.py' anymore.

Thank you.

[2021-03-12 09:06] #734 closed

[2021-03-12 10:51] Leviathan321 opened #740 "RuntimeError: opendrive could not be correctly parsed (openscenario)"
When I try to run a self defined openScenario file with a self defined road network I get the exception below.
I have put the .xosc and .xodr file together into srunner/examples. The .xodr file is correct, the scenario has been tested with another simulator.
[code]

**Deployment**
 - OS: win10
 - CARLA Version CARLA 0.9.11
 - Python version 3.7
 - Version 0.9.11

[2021-03-12 10:55] fabianoboril commented on #740
This seems to be related to CARLA parsing the OpenDRIVE file. Can you share this file? Were you able to run CARLA with that OpenDRIVE map?

Best regards,
Fabian

[2021-03-15 21:33] SiNa-Dehbari commented on #717
Hello everybody,

sorry for ew-opening.
I hvave the same issue as @athulg
I receive this error:

`Traceback (most recent call last):
  File "manual_control.py", line 58, in <module>
    from examples.manual_control import (World, HUD, KeyboardControl, CameraManager,
ImportError: No module named examples.manual_control`

recently, I have upgraded to Carla 9.11 and SR 9.11

could you please let me k

[2021-03-16 08:45] glopezdiest commented on #717
Hey @SiNa-Dehbari, recent version need an additional PYTHONPATH link:

`export PYTHONPATH=$PYTHONPATH:$CARLA_ROOT/PythonAPI`

which seems to be the one you are missing

[2021-03-17 07:44] fabianoboril commented on #727
@sagar-g-v @glopezdiest There might be another option. We could repopulate the waypoint list from SR side, when we detect that the lane change is completed.

[2021-03-17 07:45] fabianoboril commented on #718
Depending on the speed this oscillation is normal.

[2021-03-17 07:47] fabianoboril commented on #726
Maybe a stupid question, but is the manual_control attached to the bike? If yes, did you remove the actuator controlling code from manual_control?

[2021-03-17 14:39] #712 closed

[2021-03-17 16:27] #727 closed

[2021-03-18 12:57] wnklmx commented on #660
Hi @aaronh65 and @glopezdiest!
I'm right now working on a similar 'problem' since I want to test agents (in my case the [pylot ](https://github.com/erdos-project/pylot)agent) in single scenarios.

What I've done so far is pretty much what @glopezdiest suggested:

I pushed my changes to my [fork](https://github.com/wnklmx/scenario_runner/tree/master) so you might have a look.
If there is interest I

[2021-03-23 13:16] Leviathan321 commented on #740
Hi Fabian,
sy for the late replay, you were right the carla simulator cannot parse it, but the file is correct.
I am waiting that the bug is resolved in carla.
Thanks,

[2021-03-24 22:15] cacent96 opened #742 "record and save .pcd file as a stream"
I try to look up on the website and most of the file type for the lidar are the .ply files. Would it possible to save it as a point cloud data format(pcd)? If yes, is that anyway I could save the file as a stream but not in image? Beside, how could I open the .pcd file?

[2021-03-25 06:58] fabianoboril commented on #742
I think this is more CARLA related, as it is about generally recording LiDAR data. I will move it over, to get you some help from the experts.

[2021-03-25 08:13] #740 closed

[2021-03-26 13:21] ourange opened #743 "scenario_runner.py invalid syntax xmlschema"
I can't run
python scenario_runner.py --scenario FollowLeadingVehicle_1 --reloadWorld

It shows:
========
Traceback (most recent call last):
  File "scenario_runner.py", line 35, in <module>
    from srunner.scenarioconfigs.openscenario_configuration import OpenScenarioConfiguration
  File "/home/ian/scenario_runner/srunner/scenarioconfigs/openscenario_configuration.py", line 16, in <module>
    i

[2021-04-05 18:06] Giovygio97 opened #745 "RGB Camera on an ego vehiche in scenario_runner"
Hello everybody,
I want to ask what is the best way to instantiate and use an RGB camera on an ego vehicle on Scenario_Runner, and use it, with an ML model, to recognize traffic signs and change ego vehicle behaviour based on these signs.
I think it's more convenient to initialize the actor and, then, load the behaviors in parallel, with the camera and his ML recognition in the criteria.
Is it pos

[2021-04-06 12:42] glopezdiest commented on #745
Hey @Giovygio97. Personally, I'd recommend directly using an agent to control the ego, instead of using the atomic behaviors to do so. You can create your own class and then using a similar loop to [this one](https://github.com/carla-simulator/scenario_runner/blob/master/manual_control.py#L99), you can synchronize your agent with the ego vehicle. From there, just create your own RGB camera on top

[2021-04-08 08:48] kanakab opened #746 "Scenario runner install error due to networkx package"
**Describe our question or idea**
I am trying to install scenario runner. I have downloaded the tar.gz file and extracted for version 0.9.10. I am facing issues when I ran the command:
     pip2 install --user -r requirements.txt  or pip2 install networkx

Error message:
Collecting networkx
Collecting decorator>=4.3.0 (from networkx)
  Using cached https://files.pythonhosted.org/packages/71/bd/042

[2021-04-09 08:36] kanakab commented on #746
I was able to solve this issue by creating a virtual environment for python2 and running the requirements.txt file in this new environment

[2021-04-09 08:36] #746 closed

[2021-04-09 14:36] arauschert commented on #655
Hi,

great that you already created an issue for support of the OSC-ALKS-scenarios!

I'm also trying to run them with CARLA now and here are my additional findings:
- error on loading openDRIVE map. see [here](https://forum.carla.org/t/error-on-loading-custom-opendrive-map/917)
- support for pedestrian catalog needed
- 4.2_3: the offset direction is inverted. the positive t axis of the road coordi

[2021-04-12 06:13] EchoYJJ opened #748 "How to activate the scenario and make ego vehicle act according to the python script like other vehicles (not manual_control)"
Hi, everyone.

When running scenarios which require choreography of ego vehicle (i.e. in VehicleTurningRight, the route and speed of ego vehicle are arranged), the python manual_control.py couldn't result in expected situation. Even if I run python manual_control.py -a to set the autopilot mode. It won't act according to the python script.(like the video below, ego vehicle should turn right but it

[2021-04-12 12:25] LucasFKobernic opened #749 "Error: no module named 'carla'"
Hi everyone,

Im trying to test scenario runner, but by trying to run it, i get the error: "no modulenamed carla"

Im using CARLA from package (9.11), so i make the download from scenario runner for the version 9.11 ( Release CARLA Scenario Runner 0.9.11 · carla-simulator/scenario_runner (github.com))

I extracted the file inside the PythonAPI folder.

But by trying the basic example, after runnin

[2021-04-13 14:11] #749 closed

[2021-04-15 08:17] fabianoboril commented on #748
You can simply use the ego vehicle like any other vehicle inside the python script and assign actions. However, be aware that you have to remove the control-commands from manual_control.py in this case. Otherwise you have two actions being sent to the ego vehicle.

[2021-04-15 08:22] fabianoboril commented on #745
The easiest way is to use OpenSCENARIO with the simple_vehicle_control Controller. It has a flag to attach a camera.

[code]

[2021-04-15 08:28] fabianoboril commented on #655
Hi Andreas,

thanks for your input. Let us try to get the things hunted down.

Regarding the debug out: Do you know about the --debug option? This will also provide you the complete behavior tree while the scenario is executing to get an understanding which part is not working as desired.

[2021-04-15 09:14] fabianoboril commented on #655
Could you please elaborate on the pedestrian catalog support. We have this supported and I tested your catalog and it seems to work just fine.

I also just updated the loading of the OpenDRIVE map, to avoid that the map is reloaded on every call (PR #752)

[2021-04-15 09:21] lsy234009 commented on #743
![image](https://user-images.githubusercontent.com/28496006/114846131-f578d680-9e0e-11eb-99f3-5c98e6942491.png)
scenrario_runner 0.9.11
python3
runs well~ you can change the version to 0.9.11

[2021-04-15 09:44] EchoYJJ commented on #748
Hi @fabianoboril , I've tried this before. I remove Line 148,153,154 which have connection with controller. https://github.com/carla-simulator/scenario_runner/blob/master/manual_control.py#L148
Also, I initialize ego vehicle and create behavior in the example of following_leading_vehicle. As a simplify, I only keep: 1.ActorTransformSetter 2.WaypointFollower 3.ActorDestroy in python script.
[follow

[2021-04-15 11:07] arauschert commented on #655
Sure, thanks for investigating. Here's the output I get when running the scenario 4.2_1, where a pedestrian from the catalog is used as blocking target (actually I didn't see a difference with or without --debug option):

q496134@cmucl872167:~/CARLA/scenario_runner-0.9.11$ python scenario_runner.py --openscenario ../../OSC-ALKS-scenarios/Scenarios/ALKS_Scenario_4.2_1_FullyBlockingTarget_TEMPLATE.x

[2021-04-15 12:17] semmelknoedel opened #753 "Missing condition in ChangeActorLaneOffset (and other atomics)"
Since there is a NoneType actor in the joint_actor_list in the openscenario_parser it seems it is necessary to add a additional condition in ChangeActorLaneOffset.termine(). Original code:
`if actor_dict and self._actor.id in actor_dict:`
needs:
`if actor_dict and self._actor is not None and self._actor.id in actor_dict:`

The same seems true for InTriggerDistanceToOSCPosition.update():
Original:

[2021-04-15 20:02] bigdayangyu commented on #621
Hi @Francescovar and @coolCoco-MiMi, the example used wrong data type for `SpawnActor()` method. Instead of using` carla.waypoint`, you should use `carla.Transform` as the correct data type for `SpawnActor()` method.  I solved this problem by changing the `spawn_transforms.append(spawn_waypoint)` to `spawn_transforms.append(spawn_waypoint.transform)` and that solved the problem.

I hope this helps

[2021-04-16 11:28] fabianoboril commented on #655
Which commit hash are you testing with?

[2021-04-16 13:37] arauschert commented on #655
I'm using release 0.9.11

[2021-04-16 14:57] fabianoboril commented on #655
Could you try testing #713. It is not yet completed but should resolve some of the issues you might see.

[2021-04-19 18:51] arauschert commented on #655
Hi, I checked out the branch and now the pedestrian scenarios run. Great! Seems these things are already fixed.
Then let's concentrate on the other stuff.

[2021-04-19 19:19] arauschert commented on #655
Here's the output for scenario 4.3_1(tested with branch feat/OscControllerUpdates):

q496134@cmucl872167:~/CARLA/scenario_runner$ ./scenario_runner.py --openscenario ../../OSC-ALKS-scenarios/Scenarios/ALKS_Scenario_4.3_1_FollowLeadVehicleComfortable_TEMPLATE.xosc
WARNING: cannot parse georeference: ''. Using default values.
WARNING: cannot parse georeference: ''. Using default values.
WARNING: can

[2021-04-20 10:16] fabianoboril commented on #753
Hi,

the part for the maneuver is valid and should be fixed with #755. For the condition, we parse only valid actors. If there is a nontype actor, this indicates another problem. Could you test #755 and see if it solved the issue? If not, please re-open the issue.

[2021-04-20 10:19] fabianoboril commented on #655
A fix is integrated into the branch of #713.

[2021-04-20 12:11] semmelknoedel commented on #753
For some reasons it seems that no actors are given to the Behaviors/Triggers after parsing from the OpenSCENARIO.
However, from the debugger I know all actors are in the joint_actor_list. First I thought it might have to do with the line 255 in open_scenario.py:
`joint_actor_list = self.other_actors + self.ego_vehicles + [None]`

I will have a look with the debugger again an try to find a reason f

[2021-04-20 12:13] semmelknoedel commented on #753
Actually, I can't find an option for reopening the issue. But I guess the reason why it is not working might be something else anyway.

[2021-04-20 12:42] fabianoboril commented on #753
Hi,
check https://github.com/carla-simulator/scenario_runner/blob/9b244deab720e6e2e150f1f5b300cfecf352ba0b/srunner/scenariomanager/carla_data_provider.py#L500 if there is any error returned.

[2021-04-20 13:04] semmelknoedel commented on #753
I just found out that there is some problem with our used ParameterDeclarations. It lead to an invalid list of actor_ids in open_scenario.py:

[code]

After these loops, actor_ids only contained the id/index of the None that is added further up int the code to the joint_actor_list which lead to the errors.

[2021-04-21 14:46] arauschert commented on #655
Yes, looks good. Now the scenario 4.3_1 starts. I'll mark this issue as done in the comment above.

[2021-04-23 07:32] aakashsehgal opened #756 "Unable to run an external .xosc file in scenario runner"
I have a simple .xosc (1.0) file generated by an external tool and also the corresponding .xodr file. To run this in Carla, I replace the "Town1" in the .xosc file with the path of my .xodr file and then try to run this scenario via

`python scenario_runner.py --openscenario "C:\Tools\Carla\CARLA_0.9.11\scenario_runner-0.9.11\srunner\examples\NCAP\CPLA_SD_v1.xosc" --output`

This crashes my Carla

[2021-04-23 07:41] dimmo90 opened #757 "Invalid syntax when testing the example"
I'm trying to run the test of scenario runner as per the documentation, however I am getting this error:
![image](https://user-images.githubusercontent.com/69709817/115837026-7f522080-a45b-11eb-9025-cc542690cfaf.png)

I am using python 2 to run it as I am trying to link scenario runner with CARLA and rosbridge, but it seems that simple_watchdog_timer.py is written in python 3?

Any help or a work

[2021-04-23 08:20] fabianoboril commented on #756
Most likely the OpenDRIVE map is the root cause of this problem. Can you try to load it with CARLA's config.py tool (you can find it in PythonAPI/util).

[2021-04-23 08:39] aakashsehgal commented on #756
No, i cannot load the OpenDRIVE map using the config.py tool. As soon as i try to load it , the simulator crashes with the error

Do you think that the map is problematic ? SInce i can load the same map in other simulation tools.

[2021-04-27 07:44] glopezdiest commented on #756
Hey @aakashsehgal, can you check your memory usage when loading the map? We recently saw that the TrafficManager had a memory leak that caused some non CARLA maps to result in a timeout when trying to load them. [This PR](https://github.com/carla-simulator/carla/pull/3937) fixes it, in case that's the case

[2021-04-27 12:13] aakashsehgal commented on #756
HI @glopezdiest : i dont think so this is the problem. My CPU load is somewhere at 20%. As soon as i try to load the .xodr file via the config tool, my simulator crashes with the error mentioned above. Any other idea how to check if it really is a memory leak problem ? The map is nothing but a straight road. So nothing complex at all. Do you have a sample .xodr which i can compare with ?

[2021-04-27 13:01] glopezdiest commented on #756
Could you send me your *.xosc* and *.xodr* files? I'll see if they are failing for me

[2021-04-27 13:03] aakashsehgal commented on #756
sure...how shall i send them ? email ?

[2021-04-27 15:01] glopezdiest commented on #756
You can compress them into a ZIP and directly paste it in the comment

[2021-04-27 15:15] aakashsehgal commented on #756
[osc_carla.zip](https://github.com/carla-simulator/scenario_runner/files/6385636/osc_carla.zip)

[2021-04-27 16:53] dimmo90 commented on #757
All sorted now. Unfortunately I couldn't find a version that was compatible, however i found a workaround by replacing watchdog.py with a version from an earlier release (one that didn't reference simple_watch_timer).

[2021-04-28 07:34] glopezdiest commented on #756
Yeah, I'm seeing the error. The server is crushing from malloc size, which is causing the client to timeout. I'll investigate about it, see what's going on.

[2021-04-28 08:35] glopezdiest commented on #756
After checking your *xodr*, the problem is that your *elevationProfile* doesn't specifiy the elevation at `s=0`, so the server crashes. You can manually add it and it'll work just fine:
[code]

PD: superelevation also has that problem but we don't really parse it, so no need to change it

[2021-04-29 17:18] arauschert commented on #655
The issue with the ego position at the start of the road (s=0) is now fixed in the newest version of the ALKS scenarios. They were also moved to the ASAM organization GitHub account:
https://github.com/asam-oss/OSC-ALKS-scenarios

[2021-05-02 10:39] thiagodeborba commented on #757
hey @dimmo90 , i am getting the same issue how did/can you replace the watchdog.py file, what was the workaround, can you elaborate more, please?

[2021-05-02 10:41] ParthAD3 commented on #757
hey @dimmo90  i am facing the same issue, so how did you changed the file watchdog.py, what was the workaround, can you please elaborate more?

[2021-05-02 14:34] dimmo90 commented on #757
Hi @ParthAD3,

What version of scenario runner are you running? 0.9.10? because that should have the correct file and I wouldn't expect this problem to occur. It happened to me because I was trying to run scenario runner 0.9.11 with carla 0.9.11.

1) go into scenario_runner/srunner/scenariomanager/watchdog.py. Check line 14. If it says "import simple_watchdog_timer as swt" instead of "from threadi

[2021-05-02 17:45] ParthAD3 commented on #757
Hey, yes i was in tag 0.9.11
but then i am gettig this problem
![Screenshot from 2021-05-02 19-42-54](https://user-images.githubusercontent.com/71602780/116822415-f33ca900-ab7e-11eb-915e-a286d602f641.png)

[2021-05-02 18:05] ParthAD3 commented on #757
hey @dimmo90 yes i was on tag 0.9.11,  i have changed to 0.9.10 but now i am thrown with this issue " Configuration for scenario FollowLeadingVehicle_1 cannot be found
i have updated the python, carla, and scenario runner paths,
simulation is playing
all files are there, can you tell me the issue now ?
![Screenshot from 2021-05-02 19-42-54](https://user-images.githubusercontent.com/71602780/116822

[2021-05-02 18:23] ParthAD3 commented on #757
hey @dimmo90 yes i was on tag 0.9.11, i have changed to 0.9.10, sry to bother on silly mistake

[2021-05-03 08:56] ParthAD3 opened #758 "Question: How to create a route file to run a scenario for a specific route?"
**Describe our question or idea**
I want to create a route to test a scenario using: python scenario_runner.py --route <route_file_path> <scenarios_file_path> <route_name> --agent <agent_file>, but i have not much idea how to generate that route is it through rosbag?

**Desktop (please complete the following information):**
 - OS: [e.g. Ubuntu 18.04]
 - CARLA Version [e.g. CARLA 0.9.10]
 - Python

[2021-05-03 14:52] #756 closed

[2021-05-03 17:31] ParthAD3 opened #759 "The actor is not spawning to execute a scenario test"
**Describe the bug**
When i run this simple argument:
python scenario_runner.py --scenario FollowLeadingVehicle_1 --output
it executes with:
Preparing scenario: FollowLeadingVehicle_1
ScenarioManager: Running scenario FollowVehicle

Then after when i run the python manual_control.py --filter <ego_vehicle>
pygame launches, i have my ego vehicle, But upon giving throttle i dont see the actor (the le

[2021-05-04 20:46] Purvil2810 opened #761 "Scenario runner"
i am new at CARLA. I just downloaded carla release 0.9.11 and same for scenario runner.
As per the Carla doc., i tried to open the scenario runner with the command:
python scenario_runner.py but i am getting an error :
‘ import carla
No carla module found’

can anyone tell me why i am getting this error. What could be the problem?

[2021-05-05 09:09] glopezdiest commented on #761
Hey @Purvil2810, when using CARLA's Python API, you need to add several folders to the PYTHONPATH, have you done that? Here is a template:
[code]

[2021-05-05 09:23] glopezdiest commented on #758
Hey @ParthAD3, routes are generally created manually, so they require some work. As you pointed out, they need a route file (example [here](https://github.com/carla-simulator/scenario_runner/blob/master/srunner/data/routes_training.xml)), scenario file (example [here](https://github.com/carla-simulator/scenario_runner/blob/master/srunner/data/all_towns_traffic_scenarios.json)) and your agent.

For

[2021-05-05 09:57] Purvil2810 commented on #761
My directory is like
Carlafolder>pythonAPI >carla>dist>.egg file

is it correct?
If it is not then how can we set your recommended template in windows?
please guide me.

[2021-05-05 10:12] glopezdiest commented on #759
Hey @ParthAD3, you seem to be running CARLA's manual control, not ScenarioRunner's, is that the case?

[2021-05-05 10:16] ParthAD3 commented on #759
Hey, yes i am running carla's manula control, as when i tried to run manual control from the scenario runner i was thrown with the error, that there are no examples

[2021-05-05 10:22] glopezdiest commented on #761
I haven't set up environment variables in a long while on Windows but according to our [SR Docs](https://carla-scenariorunner.readthedocs.io/en/latest/getting_scenariorunner/),  the windows template is something like:
[code]

[2021-05-05 10:24] glopezdiest commented on #759
Then, you are most likely missing the `$CARLA_ROOT/PythonAPI/carla` folder at your PYTHONPATH

[2021-05-05 11:20] ParthAD3 commented on #759
So, the __init.py__ was not defined in my carla/PythonAPI/examples folder

That's why it was not loading, it's working now, thanks for the quick answers

[2021-05-05 11:20] #759 closed

[2021-05-05 12:05] ParthAD3 commented on #514
hey, i was also looking for the same thing, can you share your code which you modified if possible?

[2021-05-05 12:40] ParthAD3 opened #762 "Question: I am not able to record my scenario file?"
hey, so i am playing my scenario with an argument:

python scenario_runner.py --scenario <scenario_name> --reloadWorld -- record /home/(pcname)/scenario_runner/
the path is absolute i dont know but it throws me an error:

IOError: [Errno 2] No such file or directory
can someone point out my mistake, what the reason?

sr version : 0.9.10
carla: 0.9.10
os: ubuntu 18.04 LTS

[2021-05-05 13:17] ParthAD3 commented on #762
my bad, relative paths is the way to assign

[2021-05-05 13:17] #762 closed

[2021-05-05 13:39] arauschert commented on #655
One of the next topics could be the inversion of the direction of the lateral axis for positions in teleport actions according to the coordinate system definitions of OpenSCENARIO:
https://www.asam.net/index.php?eID=dumpFile&t=f&f=4092&token=d3b6a55e911b22179e3c0895fe2caae8f5492467#_coordinate_systems
I assume that then also other existing example scenarios in CARLA need to be adjusted?

[2021-05-10 07:54] semmelknoedel commented on #514
@ParthAD3 : We don't use it anymore. I recommend to use the metric module. It is very simple to write a class to record the data you need in any format you need.

[2021-05-11 05:56] MisterioRemo commented on #730
@semmelknoedel hello.
I had a similar problem. But I ran the client and server on a local machine.
I looked in the `scenario_runner.py` to know where the file should be created:
[code]
And noticed that I didn't set a variable `SCENARIO_RUNNER_ROOT`, so my recorder_name looked like `.//Logs/FollowLeadVehicle_1.log`. After I set `SCENARIO_RUNNER_ROOT`, log file were created.

[2021-05-11 08:04] semmelknoedel commented on #730
It is not working over network. I didn't change anything except first running a local carla instance. There it worked fine. After that I started the docker container on my remote machine with (port forwarding) and there is no .log-file.

[2021-05-11 08:21] glopezdiest commented on #730
@semmelknoedel How are you running the server? I do remember that a while back I tried running a docker with the server outside of it and, as the recorder is being created by the server, all log files were also created outside of the docker. Can this be your issue?

[2021-05-11 08:44] semmelknoedel commented on #730
@glopezdiest loacally, I run the release version (0.9.11). I don't have an nvidia card so docker is not possible. On my remote machine I start the released docker docker container (0.9.11). With both setups I also start the scenario_runner.

What exactly do you mean by docker container with the server outside of it?

[2021-05-12 13:35] glopezdiest commented on #730
Okay, I just reread your comment and I basically completely misunderstood your issue. I meant the opposite of what you are doing (Running SR inside a docker and the CARLA server on my local machine).

After my first comment, you run the recorder without SR and you got a file inside the docker

That IS indeed the *.log* file recorded by the server. As the recorder is created by the server, and your

[2021-05-27 09:39] Brandeyy opened #764 "No compatible version for carla .0.9.10?"
After reading the documentary for the scenario runner I realised that there is no compatible version of the scenario runner for Carla Version 0.9.10. Is that true?

Im new to Carla so its possible that I missed somethin

[2021-05-31 14:41] glopezdiest commented on #764
Hey @Brandeyy, SR 0.9.10 is indeed compatible with 0.9.10

[2021-05-31 14:55] Brandeyy commented on #764
That was probably a mistake on my side then. It says version 0.9.9 in scenario_runner.py script of sr 0.9.10 if i remeber correctly though.

[2021-05-31 15:37] glopezdiest commented on #764
Ah, yeah, we might have forgotten to change that, but that's outdated. It still works fine

[2021-05-31 17:00] Brandeyy commented on #764
Yea I was able to get it to work thanks for the quick responses

[2021-05-31 17:00] #764 closed

[2021-06-03 07:10] Hechao-1116 commented on #694
8/5000
I have the same problem,and how can I add my own module in the value

[2021-06-11 09:13] sterres commented on #596
Your problem might be the spelling error in the last line of the command list - the use ":" as separator instead of ";".
It is fixed in the documenation but the screenshot here is still outdated.

[2021-06-11 09:38] sterres commented on #596
Just came accross the same isseue .... my solution:

Go to your Carla examples folder (subfolder PythonAPI\examples) and create a file with name **"__init__.py"**. This will allow the script to load the Carla Python modules without error

[2021-06-14 07:36] AzaelCicero opened #766 "XML library instead of string concatenation"
**Is your feature request related to a problem? Please describe.**
Currently srunner/scenariomanager/result_writer.py uses string concatenation to format XML with results. I propose to use XML library to this. Then for example we won't have to worry about security vulnerability i.e. https://owasp.org/www-project-top-ten/2017/A4_2017-XML_External_Entities_(XXE).

**Describe the solution you'd like*

[2021-06-14 14:20] sterres opened #767 "Relative Lane Change directions are mixed up for OpenSCENARIO/OpenDRIVE"
Hi,

I had issues running lane changes in OSC 1.0 Scenarios with OpenDRIVE maps. It turned out, the direction is interpreted differently compared to other tools like esmini.

In OpenDrive, the Lanes are defined in this way:
| 2 | 1 | -1 | -2 |

https://releases.asam.net/OpenDRIVE/1.6.0/ASAM_OpenDRIVE_BS_V1-6-0.html#_lanes

But in OpenSCENARIO parser, a negative relative lane target is interpreted

[2021-06-15 05:55] fabianoboril commented on #767
Well spotted. We should fix that.

[2021-06-15 05:56] fabianoboril commented on #766
Hi,
would you be able to prepare a draft PR for this?

[2021-06-15 05:56] #757 closed

[2021-06-15 05:57] #753 closed

[2021-06-15 05:59] #745 closed

[2021-06-15 06:04] #725 closed

[2021-06-15 12:01] AzaelCicero commented on #766
Yes, I would be able to prepare such PR if you think it will be viable addition to Scenario Runner.

[2021-06-16 03:02] #735 closed

[2021-06-22 05:45] #767 closed

[2021-06-24 18:35] ccrock4t opened #772 "Scenario starts too late"
**Describe question or idea**
A vehicle actor is given the `SetInitSpeed()` atomic behavior. However, the behavior does not activate until / unless the Ego vehicle gets nearby.

**Expected behavior**
I expect the behavior to begin as soon as the scenario begins (i.e. when the Ego vehicle starts moving)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - CARLA Version 0.9

[2021-06-24 18:46] ccrock4t commented on #772
Seems a default trigger is initialized in `def _setup_scenario_trigger(self, config):` in `scenario_runner/srunner/scenarios/basic_scenario.py`, but this can be overridden in the custom scenario class.

[2021-06-24 18:46] #772 closed

[2021-07-12 23:56] ashepele opened #775 "Running Scenarios with Manual Control"
**Describe your question or idea**
Hello Scenario_Runner developers! I'm pretty new to scenario_runner and am trying to reproduce the simple scenario that you show at the 1:08 minute mark in the [CARLA Talks 2020 - Introducing ScenarioRunner](https://www.youtube.com/watch?v=dcnnNJowqzM) video.

I'm issuing the following commands (as suggested at the 3:31 time mark in the same video)

`python3 scen

[2021-07-13 07:58] jbirtel opened #776 "No module named 'examples.manual_control'"
Hi,

I just tried to run the test scenario.
I first had an issue that the PYTHONPATH for scenario_runner.py was not found. I use openpilot and somehow the PYTHONPATH is set to ...../openpilot and I can't find the file where it is saved (but actually not .profile and not .bashrc), even though I set the PYTHONPATH correctly in bashrc file.

I could somehow solve this by adding the paths with sys.pat

[2021-07-13 11:44] fabianoboril commented on #775
Hi,

did you use the manual_control.py of CARLA or the one next to scenario_runner.py? You have to use the latter.

[2021-07-13 14:59] glopezdiest commented on #776
The path you want is `/home/.../carla/PythonAPI`, which is your case, is the only one that doesn't have the `home/.../` initial statement. Is this also the case for your *manual_control.py* file?

[2021-07-13 17:31] ashepele commented on #775
Hi @fabianoboril , I was indeed using Carla's manual_control.py. Thank you for catching my mistake!

[2021-07-13 20:27] jbirtel commented on #776
No, in my _manual_control.py_ this is indeed correct. Sorry, that I put that mistake in the description above. So all paths start with '/home/..../carla/', also that one with PythonAPI. So, I guess this is, unfortunately, not the problem here.

[2021-07-14 08:21] glopezdiest commented on #776
Then I don't know what your problem is. I just removed all PYTHONPATHs related to CARLA and did your `sys.path.append(...)` and it works fine for me. In any case, I don't think you should follow this route, as there are a lot of file where CARLA is imported and you're going to have to add it to all of them.

[2021-07-14 13:15] Jk7913 commented on #776
Maybe try to add __init__.py file to the carla/PythonAPI/examples folder.

[2021-07-14 14:41] Jk7913 opened #777 "Problem with OpenScenario world position"
Hi all,

I'm experiencing some problems when placing actors in OpenScenario scenarios by "World position". I have created scenarios based on a OpenDrive file (Carla Demo xodr files ass well), and in that scenario actor is positioned by World coordinates. When running that scenario with ScenarioRunner, it seems that actors are then shifted on this map. Sometimes this mean few meters down the road,

[2021-07-14 14:53] fabianoboril commented on #777
Most likely, this is a left-hand vs. right-hand coordinate system issue.

If you use the CARLA coordinates (e.g. those that you get in manual control), you have to use a "CARLA:" at the start of the description tag
<FileHeader revMajor="1" revMinor="0" date="2020-03-24T12:00:00" description="CARLA:CyclistCrossing" author=""/>
If you use the OpenDRIVE coordinate frame, you have not to put the leadi

[2021-07-14 14:53] #775 closed

[2021-07-14 18:05] Jk7913 commented on #777
Haven't done much testing, but for now it seems that that was the problem. Thank you

[2021-07-14 18:05] #777 closed

[2021-07-15 00:31] ashepele opened #778 "Debugging Scenario_Runner py_trees"
**Describe your question**
Hello Scenario_Runner developers! I have a question about the correct way to debug the py_trees that get created in the _create_behavior function of a scenario class.

For example, I'd like to create a modified version of the DynamicObjectCrossing scenario and visualize the py_tree at each update to make sure my scenario is running as expected.

Following the instruction

[2021-07-15 06:18] fabianoboril commented on #778
Hi,
you can use the debug commandline option. This will print the ascii-formatted tree.

[2021-07-15 10:27] jbirtel commented on #776
@glopezdiest Hmm, unfortunately it does not work for me, there is still the error. I don't know why, but the PYTHONPATH approach does not work for me. That's why I tried the approach with the sys.append, and I was able to solve the first problem.

@Jk7913 thanks for your help, but this does not change anything (I simply added two empty files in carla/PythonAPI and carla/PythonAPI/examples

[2021-07-15 10:35] jbirtel commented on #776
If I run the following command:
export PYTHONPATH=$PYTHONPATH:${CARLA_ROOT}PythonAPI:${CARLA_ROOT}PythonAPI/carla:${CARLA_ROOT}PythonAPI/examples:${CARLA_ROOT}PythonAPI/carla/dist/carla-0.9.11-py3.6-linux-x86_64.egg:${CARLA_ROOT}PythonAPI/carla/agents

before the execution of manual_control.py it worked for me.

[2021-07-15 22:30] ashepele commented on #778
Thank you @fabianoboril !

I have a follow-up question

It looks like the debug output produces something like a function call stack instead of an actual tree visualization.

![scenarioRunnerDebugOutput](https://user-images.githubusercontent.com/43888569/125848444-8f83c402-d986-4138-a01a-3fef90b76079.png)

Do you know if it's possible to modify the output so that it looks more like the output of `

[2021-07-16 05:32] fabianoboril commented on #778
Usually you should see the tree as well.  If this is not happening, maybe the tree is not properly constructed or there is a version issue? You can uncomment the following line to get a plot of the constructed tree:
https://github.com/carla-simulator/scenario_runner/blob/aaea1de86b98db4aae6bcd4d3c433f8e698e9c30/srunner/scenariomanager/scenario_manager.py#L111
Maybe this gives some indication.

[2021-07-16 22:55] DennisKlpng opened #779 "carla.actor bounding_box.location influenced by WorldPosition argument "h" in xosc TeleportAction during Storyboard-Init"
**Describe the bug**
Hi folks, I have a rather weird issue while running xosc-files in the ScenarioRunner. I reproduced it with the usage of ManualControl from the Carla python examples and running the ScenarioRunner with the according xosc file.
When there is a teleport action during Init, the bounding_box.location of the vehicle apparently depends on (at least) the heading angle of the WorldPosi

[2021-07-19 05:56] fabianoboril commented on #779
This seems wrong. The origin is elsewhere. Can you check if this is position is persistent over multiple frames. Most likely, the actor was not yet fully initialized by CARLA when you printed the bounding box paramters.

[2021-07-19 07:00] EnekoRamirez commented on #653
Hello! I am trying to run your .xosc code but it does not work. I spawn an ego vehicle in the simulation and afterwards execute your code. A second vehicle spawns behind the first ego-vehicle but none of them move. What conditions have you been playing with in order to move both vehicles?

Thank you
Best regards

[2021-07-19 07:01] DennisKlpng commented on #779
Yes, the bb-location for the bicycle stays the same. Apparently the issue only occurs for the bicycle, not for pedestrians, for them the location is just x=0.000000, y=0.000000, z=0.000000 (even with the afromentioned heading > 0)

[2021-07-19 10:58] EnekoRamirez commented on #653
@SchDevel

[2021-07-19 12:46] fabianoboril commented on #779
Adding @glopezdiest

[2021-07-22 10:29] jbirtel opened #780 "How to use Carla, ScenarioRunner & OpenPilot"
**Describe our question or idea**
I am trying to use the ScenarioRunner to simulate Scenarios in OpenScenario format. Additionally, I use OpenPilot. The problem occurs, when trying to combine them. Until now, I tried only the FollowLeadingVehicle scenario.
The ego vehicle which is spawned by OpenPilot is not recognized by the Scenario_Runner. I also tried to use the "--waitForEgo" Flag, but this d

[2021-07-22 14:37] GeneralMak opened #781 "How do you understand the meaning of many parameters in a single scenario in the scenarios folder?"
I am a new user of Carla,I want to create some new scenarios like the scenarios in the scenarios folder,not a single scenario but a combination of multiple.For example a combination of car following_leading_vehicle and No_Signal_Junction

[2021-07-23 07:31] GeneralMak commented on #684
I have the similar problem,the official said to create a new scenario (https://carla-scenariorunner.readthedocs.io/en/latest/creating_new_scenario.html),four methods need to be defined .But how to define the parameters of this  _initialize_actors method  and create_behavior method, I have'nt found a good turorial.  Ask for help!!!

[2021-07-23 07:46] GeneralMak commented on #684
I imitated the official examples to define the parameter values in my own method,but various errors will be reported during runtime,so I would like to ask for if any scholars have made them.

[2021-07-23 09:14] GeneralMak commented on #23
@rguptatx  hello,Have you created a successful scenario by referring to the example of the official scenario creation?(https://carla-scenariorunner.readthedocs.io/en/latest/creating_new_scenario.html)

[2021-07-23 09:20] GeneralMak commented on #684
@fabianoboril  hello, Can you guys give a detailed tutorial on how to create Initialize Method and CreateBehavior method?(https://carla-scenariorunner.readthedocs.io/en/latest/creating_new_scenario.html)

[2021-07-23 14:32] fabianoboril commented on #684
Why not using OpenSCENARIO? This is much easier, and there is a graphical scenario editor: https://github.com/carla-simulator/traffic-generation-editor?

[2021-07-23 14:33] fabianoboril commented on #781
For new scenarios, I recommend to use OpenSCENARIO and our graphical editor: https://github.com/carla-simulator/traffic-generation-editor

[2021-07-23 14:36] fabianoboril commented on #780
I am not familiar with OpenPilot, but in general you can do the following: Let OpenPilot spawn the vehicle with the rolename "hero", and use that name for the OpenSCENARIO object, i.e. <ScenarioObject name="hero">. Then use --waitForEgo.

[2021-07-26 02:09] GeneralMak commented on #684
@fabianoboril  ok, Thank you for the response! I'will try.

[2021-07-26 02:09] GeneralMak commented on #684
@fabianoboril  ok, Thank you for the response! I'will try.

[2021-07-26 02:12] GeneralMak commented on #781
@fabianoboril  Thank you!,I will try

[2021-07-27 02:24] GeneralMak commented on #707
Hello,is your problem solved? I think I have encountered a problem similar to yours, and the creation of a behavior tree is a difficult problem.
When I asked their developers to solve the problem ,they provided a new solution:(Why not using OpenSCENARIO? This is much easier, and there is a graphical scenario editor: https://github.com/carla-simulator/traffic-generation-editor?)

[2021-07-27 14:14] GeneralMak commented on #775
Hello,do you know how to lay out the scenario you created on the route? At the same time ,do you know how to create your own planned route in a town?

[2021-07-27 14:36] GeneralMak opened #782 "How to lay out the scenario you created on the route ? How to create your own planned route in a town"
Hello Scenario_Runner developers!  In the 6:00 minute mark of the CARLA Talks 2020 - Introducing ScenarioRunner video,you show an example of setting up scenarios on the route.Can you talk about how to set up a scenario on the route,and at the same time,how to plan a route in a town? Thank you !

[2021-07-29 08:04] jbirtel commented on #780
Sorry for the late reply, I tried to figure out where I can replace the name of the vehicle in the OpenPilot files, but I didn't find something yet. How is it generally possible to define the name of the vehicle in python ? Maybe it is already sufficient to simply add that to the file that starts OpenPilot.

[2021-07-29 09:37] jbirtel commented on #780
I added the line `blueprint.set_attribute('role_name', 'hero')` in the bridge.py file before the vehicle actor is spawned, so here https://github.com/commaai/openpilot/blob/d7ab611bb0a616374e28eb4f0cdf46bb0172bb4b/tools/sim/bridge.py#L198 basically.

I then started the bridge.py of OpenPilot with the addition that I specified town Town01 as this was needed, scenario runner like `python3 --scenario

[2021-07-29 09:46] fabianoboril commented on #780
The line that you have linked is for the camera not for the vehicle. Is just the link wrong, or did you add the rolename to the wrong actor (camera not vehicle)?

[2021-07-29 10:00] jbirtel commented on #780
Damn it! I saw that there are different actors for camera and vehicle, but I somehow mixed up the lines in the vim editor. After inserting `vehicle_bp.set_attribute('role_name','hero')` before this line, so in the [correct positon](https://github.com/commaai/openpilot/blob/d7ab611bb0a616374e28eb4f0cdf46bb0172bb4b/tools/sim/bridge.py#L175), it worked and the scenario could be run. So thank you real

[2021-07-29 11:07] #780 closed

[2021-08-04 07:41] glopezdiest commented on #782
@GeneralMak, sure thing :slightly_smiling_face:.

The first thing you need to do is to create your own python scenario, in the same way that it is done for scenarios outside routes.

Then, again, same as before, you need a config file to describe where the scenario is placed. For routes, this is a *json* and not an *xml*. [Here](https://github.com/carla-simulator/scenario_runner/blob/master/srunne

[2021-08-04 07:49] glopezdiest commented on #779
Hey sorry for the delay, as we were releasing 0.9.12. I'll be talking a look at it, see if I can find what's happening

[2021-08-16 07:47] sterres commented on #661
AVL developed a [Scenario Designer](https://www.avl.com/ro/web/guest/news-and-highlights/-/asset_publisher/RwDj5ftolHyH/content/avl-scenario-designer) with a powerful GUI that fully supports OpenSCENARIO 1.0 and soon 1.1 and runs on Linux/Windows
(disclaimer: I'm currently working for AVL)

Students and research institutions can use it for free via our **University Partnership Program**.

![](http

[2021-08-25 15:44] ShrenikaSrinivas opened #789 "Scenario cannot be loaded"
Hello,
I am trying to run OpenSCENARIO example on scenariorunner but ended up with the below error. Also manual_control.py is not displaying any ego vehicle.

python3.8 scenario_runner.py --openscenario /  opt/V2XSimulation/SimulationPlatform/Carla/scenario_runner/srunner/examples/FollowLeadingVehicle.xosc
Preparing scenario: FollowLeadingVehicle
The scenario cannot be loaded
Traceback (most recen

[2021-08-27 09:08] werewolfdev opened #791 "Run Time Error_ Scenario Runner :Cannot run scenarios using OpenSCENARIO"
**Iam new to CARLA . iam trying to run the scenario examples using OpenSCENARIO

 python scenario_runner.py --openscenario /home/schemba/carla/scenario_runner-0.9.10/srunner/examples/FollowLeadingVehicle.xosc
and iam receiving the follwoign run time error:

Traceback (most recent call last):
  File "scenario_runner.py", line 593, in <module>
    sys.exit(main())
  File "scenario_runner.py", line 5

[2021-08-27 09:45] #791 closed, assigned to nobody

[2021-08-27 10:21] werewolfdev opened #792 "Module Not Found error : srunner module not found"
i am new to CARLA . iam trying to run the scenario examples using OpenSCENARIO. when i run the python scripts in the scenario folder like

python follow_leading_vehicle.py
I am receiving the follwoign error:

Traceback (most recent call last):
  File "follow_leading_vehicle.py", line 25, in <module>
    from srunner.scenariomanager.carla_data_provider import CarlaDataProvider
ModuleNotFoundError:

[2021-08-30 06:52] glopezdiest commented on #792
Hey @werewolfdev, have you added the path to the ScenarioRunner folder onto the PYTHONPATH environment variable? It seems like it isn't finding that folder

[2021-08-30 08:47] werewolfdev commented on #792
Hi @glopezdiest thanks for the quick reply. I added it to PYTHONPATH now and the error is gone . However now upon running the python scripts in the scenario folder like

python follow_leading_vehicle.py
 nothing happens , no error as well as no screen is opened. It just returns to next terminal command line. Thanks in advance

[2021-08-30 08:57] werewolfdev commented on #792
Hi @glopezdiest  yes you were right . I just added the scenario runner path to the PYTHONPATH and it worked. thanks a lot

[2021-08-30 08:57] #792 closed

[2021-08-30 11:23] werewolfdev opened #793 "Scenario window closes within split seconds"
I am trying to run a  simple scenario created by running the python script created, mostly a subset of FollowLeadingVehicle scenario. everything loads properly but the screen closes within split seconds. Iam using manual control
**Desktop (please complete the following information):**
 - OS: [e.g. Ubuntu 18.04]
 - CARLA Version [e.g. CARLA 0.9.10.1]
 - Python version [e.g. 3.7]
 - Version [e.g. 0.

[2021-08-30 12:07] werewolfdev commented on #793
I dont have NVIDIA Graphics card and I am running on my Intel Graphics. Can you let me know if this could be causing this issue. The example scenarios also crash and close sometimes

[2021-08-30 14:21] LucasFKobernic commented on #670
Hi, @TeeManiac
I'm facing the same problem as you. How did you solve it?

[2021-08-31 12:42] glopezdiest commented on #793
Hey @werewolfdev, could you provide more information about how are you running the scenarios? There are several arguments that you can use which might be affecting your result

[2021-08-31 12:50] werewolfdev commented on #793
Hey @glopezdiest . Firstly I open the World window running the Carla shell script. Then I run the config XML file of the scenario from the scenario runner folder and eventually run the python script corresponding to the scenario and then open the manual_control python script . The scenario opens at first and then closes within 30 seconds or so every time

[2021-08-31 13:30] glopezdiest commented on #793
Okay, several questions then:
1) When you run the scenario, does a message similar to "Running Scenario *name of the scenario*" appear?
2) What are you doing with the manual control? Are you moving through the lane? Whenever you first move, the scenario should start
3) Scenarios have a timeout of around 1 minute, so if nothing is done after that time, they are automatically shut down. Is it possib

[2021-09-01 06:05] werewolfdev commented on #793
1. Yes the message do appear
2. iam actually performing a functionality similar to follow leading vehicle. The ego vehicle has to only follow the leading vehicle going at a constant velocity without collisions . Whenever i start the ego vehicle the new actor car is spawned in front and within split seconds of motion the window closes
3. I have set timeout to 360 seconds and have seen the output wi

[2021-09-03 07:38] werewolfdev commented on #748
Hey @EchoYJJ I have the same issue . have you found a solution for this issue . thanks in advance.

[2021-09-06 07:51] werewolfdev commented on #793
Any updates @glopezdiest . Thanks

[2021-09-08 06:44] LucasFKobernic opened #794 "Problem using Teleport Action with Walkers"
**Describe our question or idea**
Hi everyone,

I'm trying to create some scenarios envolving walkers with OpenSCENARIO. For that i want to give a trajectory for the pedestrian. Since the Action "FollowTrajectory" is not suported, i'm trying to use Triggers, like ReachPosition to change the walker orientation using TeleportAction and by Position i change the "h" angle.

**Expected behavior**
The p

[2021-09-08 06:56] LucasFKobernic commented on #794
Hi,

I solved the problem:

By the TeleportAction i was given z="0.0", after i change it to z="0.3" he keeps walking.

[2021-09-08 06:56] #794 closed

[2021-09-08 09:19] glopezdiest commented on #793
Oh sorry for the delay, I didn't see the message. I'm sorry to say that if it is anything related to graphics, then I probably won't be able to help as I haven't heard about that before.

From Scenario Runner sides, everything seems to be working fine, you are creating and executing the scenario correctly. Could you send me the files you are using to execute it? I'll give it a try

[2021-09-08 09:49] werewolfdev commented on #793
kein Problem. Will get a new graphics cards of NVIDIA soon . Will update on this ticket once I retry . Thanks a lot.

[2021-09-08 13:29] LucasFKobernic opened #795 "[OpenSCENARIO] - Using Static Asset as Entityref for a Trigger"
**Describe our question or idea**
Hi everyone,

I'm trying to create a StartTrigger with the condition "RelativeDistanceCondition" between a walker and a static object.

Until now i have placed the static object defining it as "MiscObject" under "Entities".

It is possible to use directly a asset that already is in the world?  If yes, how should i refer to this asset in the OpenScenario file?

**D

[2021-09-09 17:32] sissiok opened #796 "No module named 'simple_watchdog_timer'"
**Describe the bug**
Scenario runner failed when trying to import `simple_watchdog_timer`.

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: [Ubuntu 18.04]
 - CARLA Version [CARLA 0.9.12]
 - Python version [ 3.6 ]
 - ScenarioRunner Version [e.g. 0.9.12]

[2021-09-09 17:38] #796 closed

[2021-09-10 07:17] fabianoboril commented on #795
Hi,
just for clarification: You would like to use an object that is already present in the CARLA world? I don't think that this is possible. Or do you want to spawn a specific object?

[2021-09-10 09:02] LucasFKobernic commented on #795
I want to use a object that is already in CARLA Map.

[2021-09-10 10:22] fabianoboril commented on #795
That is a challenge... First, we would need to stretch the XOSC definition a bit, which I guess is fine. Second, we would need to get the object through CARLA's PythonAPI. The only way I see is to query all bounding boxes in the world (get_level_bbs). However, this does not provide unique identifiers. So the question would be, is the object you are looking for unique in the scene? If you would nee

[2021-09-14 16:38] Bedoubleu opened #798 "Scenario Runner: unable to attach actor: parent actor not found"
Hello Guys,

I'm pretty new to CARLA and Scenario Runner and I hope you can help me.
I've set up my own scenario on a custom map I also created myself. The scenario itself is an ego vehicle controlled with the WaypointFollower and a Walker who crosses a pedestrian crosswalk. When the walker recognises the ego vehicle, the walker should stop to prevent a collision with the ego vehicle. Test Criteri

[2021-09-15 06:23] #654 closed

[2021-09-15 15:05] werewolfdev opened #799 "Unable to run scenarios using scenario runner or open scenario"
Trying to run the script python3 scenario_runner.py --scenario FollowLeadingVehicle_1.
Carla world is running

Traceback (most recent call last):
  File "scenario_runner.py", line 35, in <module>
    from srunner.scenarioconfigs.openscenario_configuration import OpenScenarioConfiguration
  File "/home/schemba/carla/scenario_runner-0.9.11/srunner/scenarioconfigs/openscenario_configuration.py", line

[2021-09-15 15:16] fabianoboril commented on #799
Which version of xmlschema are you using? The requirements specify xmlschema==1.0.18.

[2021-09-15 15:25] werewolfdev commented on #799
Hi @fabianoboril  Iam using the same

[2021-09-15 18:16] fabianoboril commented on #799
Can you check which version of elementpath is installed? In my case, it is 1.3.3.

[2021-09-16 08:16] werewolfdev commented on #799
Hi @fabianoboril . I used python 2.7 with its egg and scenario is getting prepared but cant open manual_control.py now
Traceback (most recent call last):
  File "manual_control.py", line 58, in <module>
    from examples.manual_control import (World, HUD, KeyboardControl, CameraManager,
ImportError: No module named examples.manual_control
 Thsi si the error that i receive

[2021-09-16 08:31] werewolfdev opened #800 "ImportError: No module named examples.manual_control"
Hi @fabianoboril . I used python 2.7 with its egg and scenario is getting prepared but cant run manual_control.py from scenario runner folder now

This is the error that i receive
Traceback (most recent call last):
File "manual_control.py", line 58, in
from examples.manual_control import (World, HUD, KeyboardControl, CameraManager,
ImportError: No module named examples.manual_control

My python pa

[2021-09-16 09:32] werewolfdev commented on #799
I  had to add an init.py file at ~/PythonAPI/examples folder. Can you kindly mentoin it in docs or include in script

[2021-09-16 09:32] werewolfdev commented on #800
I  had to add an init.py file at ~/PythonAPI/examples folder. Can you kindly mentoin it in docs or include in script.

[2021-09-16 09:32] #800 closed

[2021-09-16 09:32] #799 closed

[2021-09-20 08:38] werewolfdev commented on #442
@fabianoboril  Thanks a lot for this .Looking forward to this docu

[2021-09-20 08:39] werewolfdev commented on #793
@glopezdiest  Thanks for the support .NVIDIA Driver helped .Closing this issue

[2021-09-20 08:39] #793 closed

[2021-09-20 13:11] werewolfdev opened #801 "Controlling Ego Vehicle openSCENARIO"
Hey , I am using openSCENARIO for creating scenarios with CARLA and would like to control the ego vehicle in autopilot , provide a constant velocity or particular dynamics and assign a route to the ego vehicle

I have provided vehicle.set_autopilot(True) in manual_control.py and used the function of enable constant velocity as well.
I would like to know if we can assign a route to the ego vehicle

[2021-09-20 13:35] werewolfdev commented on #801
I could find a simple_vehicle_control python script in the atomics folder .But Iam uncertain of how to use it with openSCENARIO

[2021-09-20 14:21] fabianoboril commented on #801
Hi,
you can find an example here:
https://github.com/carla-simulator/scenario_runner/blob/05a811a6248c8033e4c76185ff40ae5eccad7e69/srunner/examples/OscControllerExample.xosc#L77
Just replace external_control with simple_vehicle_control

[2021-09-20 14:25] werewolfdev commented on #801
Hi, Thanks for the quick response. So I replace the control type with simple_vehicle_control and then for providing a route for my ego vehicle how can I go forth doing it. Sorry I couldnt understand it still

[2021-09-20 14:32] werewolfdev commented on #801
@fabianoboril  Hi, Thanks for the quick response. So I replace the control type with simple_vehicle_control and then for providing a route for my ego vehicle how can I go forth doing it. Sorry I couldnt understand it still

[2021-09-20 14:34] fabianoboril commented on #801
You provide the route through a Route Maneuver, e.g.

`             <Action name="TakingPrio1Drive2">
                <PrivateAction>
                  <RoutingAction>
                    <AssignRouteAction>
                      <Route name="TurnRight" closed="false">
                        <Waypoint routeStrategy="fastest">
                          <Position>
                            <World

[2021-09-20 14:40] werewolfdev commented on #801
Hi , Will try this out and update here soon

[2021-09-21 06:21] werewolfdev commented on #801
Preparing scenario: LaneChangeSimple
Warning: Maneuvergroup ManeuverSequence does not use reference actors!
ScenarioManager: Running scenario OpenScenario
Traceback (most recent call last):
  File "scenario_runner.py", line 405, in _load_and_run_scenario
    self.manager.run_scenario()
  File "/home/schemba/carla/scenario_runner-0.9.11/srunner/scenariomanager/scenario_manager.py", line 133, in run

[2021-09-21 06:22] werewolfdev commented on #801
@fabianoboril Preparing scenario: LaneChangeSimple
Warning: Maneuvergroup ManeuverSequence does not use reference actors!
ScenarioManager: Running scenario OpenScenario
Traceback (most recent call last):
  File "scenario_runner.py", line 405, in _load_and_run_scenario
    self.manager.run_scenario()
  File "/home/schemba/carla/scenario_runner-0.9.11/srunner/scenariomanager/scenario_manager.py", li

[2021-09-21 06:34] fabianoboril commented on #801
Can you share the scenario file?

[2021-09-21 06:40] werewolfdev commented on #801
Yes sure @fabianoboril

[2021-09-21 06:41] werewolfdev commented on #801
<?xml version="1.0"?>
<OpenSCENARIO>
  <FileHeader revMajor="1" revMinor="0" date="2020-03-24T12:00:00" description="CARLA:AusweichAssistant_01" author=""/>
  <ParameterDeclarations/>
  <CatalogLocations/>
  <RoadNetwork>
    <LogicFile filepath="Town04"/>
    <SceneGraphFile filepath=""/>
  </RoadNetwork>
  <Entities>
    <ScenarioObject name="hero">
      <Vehicle name="vehicle.tesla.model3" veh

[2021-09-21 06:41] werewolfdev commented on #801
<?xml version="1.0"?>
<OpenSCENARIO>
  <FileHeader revMajor="1" revMinor="0" date="2020-03-24T12:00:00" description="CARLA:AusweichAssistant_01" author=""/>
  <ParameterDeclarations/>
  <CatalogLocations/>
  <RoadNetwork>
    <LogicFile filepath="Town04"/>
    <SceneGraphFile filepath=""/>
  </RoadNetwork>
  <Entities>
    <ScenarioObject name="hero">
      <Vehicle name="vehicle.tesla.model3" veh

[2021-09-21 06:50] werewolfdev commented on #801
<?xml version="1.0"?>
<OpenSCENARIO>
  <FileHeader revMajor="1" revMinor="0" date="2020-03-24T12:00:00" description="CARLA:AusweichAssistant_01" author=""/>
  <ParameterDeclarations/>
  <CatalogLocations/>
  <RoadNetwork>
    <LogicFile filepath="Town04"/>
    <SceneGraphFile filepath=""/>
  </RoadNetwork>
  <Entities>
    <ScenarioObject name="hero">
      <Vehicle name="vehicle.tesla.model3" veh

[2021-09-21 06:52] werewolfdev commented on #801
[AusweichAssistant_01.txt](https://github.com/carla-simulator/scenario_runner/files/7200873/AusweichAssistant_01.txt)

[2021-09-21 06:53] werewolfdev commented on #801
@fabianoboril I have attached the xosc  file

[2021-09-21 06:56] fabianoboril commented on #801
You don't need manual control anymore, as the ego vehicle is now controlled through simple_vehicle_control. If you like, you can add a camera like this:

In our scenario, there is one mistake:

Instead of ego_vehicle, this has to be hero.

Have you seen the graphical scenario creation tool? I think this will be helpful, to avoid such mistakes.

[2021-09-21 07:00] werewolfdev commented on #801
Hi I shoukd run simple_vehicle_control.py now for running the scenarios you mean to say , after running the xosc file

[2021-09-21 07:02] werewolfdev commented on #801
Reagrding the graphical scenario creation tool, do you mean QGIS scenario editor. In other cases I havent seen

[2021-09-21 07:03] fabianoboril commented on #798
@glopezdiest Can you look into this?

[2021-09-21 07:14] werewolfdev commented on #801
@fabianoboril I received a small window with the car stagnant and not moving. 2 questions about this:

a) The ego vehicle was expected to follow that route. Am i missing anything for carrying out this manuever
b )Is there are a way to increase the window size

[2021-09-21 08:48] glopezdiest commented on #798
That generally tends to happen when you try to attach a sensor to an actor that isn't there, meaning there might have been an error when spawning the actor. Can you make sure that the actor is there before trying to attach the sensor? Probably your initial position makes the actor collide with something (normally the ground). Could you check that?

[2021-09-21 09:39] werewolfdev commented on #801
@fabianoboril I received a small window with the car stagnant and not moving. 2 questions about this:

a) The ego vehicle is moving but cannot find the stationary target
 b)Is there are a way to increase the window size
c)The coordinates x and y displayed on the window doesnt match the ones given in the xosc for teleport action

[2021-09-21 12:31] werewolfdev commented on #694
Hi @SiNa-Dehbari  Where you able to run the ego vehicle through a defined route with openSCENARIO using simple_vehicle_control as mentioned above. Iam not able to do the same actually

[2021-09-21 12:32] werewolfdev commented on #694
@DeepAnonymous https://github.com/carla-simulator/scenario_runner/blob/05a811a6248c8033e4c76185ff40ae5eccad7e69/srunner/examples/OscControllerExample.xosc#L77

[2021-09-21 13:20] Bedoubleu commented on #798
First of all thanks for the reply.

I tried setting the _criteria_enable=False_ in my "def __init__" to see what is happening. When I do this the first two scenarios work fine again and for the third I get the following output: _srunner.scenariomanager.carla_data_provider.get_location: Actor(id=191, type=vehicle.lincoln.mkz2017) not found!_
What's interesting about this, is that the vehicle is spa

[2021-09-21 13:59] werewolfdev opened #802 "openSCENARIO Editor"
Hi does snayone know about an openSCENARIO Editor I can use to create scenarios where in I can easily define routes for the ego vehicle as well. Thanks in advance

**Desktop (please complete the following information):**
 - OS: [e.g. Ubuntu 18.04]
 - CARLA Version [e.g. CARLA 0.9.11]
 - Python version [e.g. 2.7]
 - Version [e.g. 0.9.11]

[2021-09-21 14:17] werewolfdev commented on #801
Hi @fabianoboril  Thanks for that. But I couldnot find the stationary object which I have coded in the above txt .Also other xosc scenarios which I have created just seems to be run but without displaying any output window. Do you have any inputs on these questions too. I have actually already added camera as you mentioned while defining the controller

[2021-09-21 14:25] werewolfdev commented on #801
ABout visualizer.py, Iam suing SR 0.9.11 and has no visualizer python script inside actor controls folder . Any comments on that too would be helpful

[2021-09-21 15:13] fabianoboril commented on #801
Can you update to the 0.9.11 branch (not tag)? This will most likely solve many of your issues.

[2021-09-21 15:14] fabianoboril commented on #802
https://github.com/carla-simulator/traffic-generation-editor

[2021-09-21 15:17] werewolfdev commented on #802
Thanks
Will give it a look

[2021-09-21 15:30] werewolfdev commented on #801
Hi @fabianoboril No module named simple watch dog timer import error pops up when trying to run xosc files now

[2021-09-21 15:39] Briandez opened #803 "Missing support for FollowTrajectoryAction"
https://github.com/carla-simulator/scenario_runner/blob/05a811a6248c8033e4c76185ff40ae5eccad7e69/srunner/tools/openscenario_parser.py#L1211

Any plans for supporting FollowTrajectoryAction?

[2021-09-21 15:39] werewolfdev commented on #801
Hi @fabianoboril
Traceback (most recent call last):
  File "scenario_runner.py", line 37, in <module>
    from srunner.scenariomanager.scenario_manager import ScenarioManager
  File "/home/schemba/carla/scenario_runner-0.9.11/srunner/scenariomanager/scenario_manager.py", line 23, in <module>
    from srunner.scenariomanager.watchdog import Watchdog
  File "/home/schemba/carla/scenario_runner-0.9.1

[2021-09-22 06:36] werewolfdev commented on #801
Hi @fabianoboril  Do you ahve any insights on this

[2021-09-22 15:27] Jia-Wei-Wang commented on #717
I add  this line to ~/.bashrc

`export PYTHONPATH=$PYTHONPATH:${CARLA_ROOT}/PythonAPI/examples`

then it works.

[2021-09-23 06:33] glopezdiest commented on #798
That's interesting. From what you told me, you are having the [*The scenario cannot be loaded*](https://github.com/carla-simulator/scenario_runner/blob/master/scenario_runner.py#L398) message. Could you check whether or not the ego vehicle has been properly assigned. [This function](https://github.com/carla-simulator/scenario_runner/blob/master/scenario_runner.py#L379) handles the spawn of the ego

[2021-09-23 06:36] glopezdiest commented on #803
Hey @Briandez, we have PR #751 with the very basic implementation, and it'll be merged soon. The rest of the action has no specific plans, but it'll come eventually

[2021-09-23 07:37] Briandez commented on #803
Hi @glopezdiest

I also did something couple of days ago similar to the PR

![image](https://user-images.githubusercontent.com/51113607/134469917-c1e863bf-2acb-459a-a2ff-1a4e1935828c.png)

But somehow i am getting this error on running the scenario:

![image](https://user-images.githubusercontent.com/51113607/134470187-6fd8c047-ef10-4f68-91b8-2d1599e3dc62.png)

But i guess this has something to do

[2021-09-23 08:08] glopezdiest commented on #803
How are you passing that trajectory to the actor? Which behavior are you using? Some OSC behaviors modify the actor control, so you need to first create a controller before using those, or the error you are seeing might happen

[2021-09-23 12:38] Bedoubleu commented on #798
Yes exactly, _The scenario cannot be loaded_ pops up when scenario 3 tries to start.
I checked _self.ego_vehicles_ and it is not empty. But because of the fact that the ego vehicle doesn't get destroyed after scenario 2, I've got two ego_vehicles for scenario 3. as shown in the screenshot below.
<img width="890" alt="Bildschirmfoto 2021-09-23 um 14 34 39" src="https://user-images.githubusercontent

[2021-09-23 12:55] clairebb1005 opened #804 "'TimeOut' object has no attribute 'optional'"
Hello,

I'm currently running the scenario_runner with openscenario files created by the traffic generation editor.
But the same error keeps happening..

Error :

Any idea how to solve this problem? Thanks:)

 - OS: Windows 10
 - CARLA Version [0.9.11]
 - Scenario_Runner Version [0.9.11]
 - Python version [3.7]

[2021-09-23 13:12] fabianoboril commented on #804
Hi,
can you switch to 0.9.11 branch (not tag) of scenario runner? This should resolve this issue.

[2021-09-23 16:07] clairebb1005 commented on #804
ok thanks! solved

[2021-09-24 06:57] #804 closed

[2021-09-24 09:10] werewolfdev opened #808 "Data Logging while using simple_vehicle_control in OpenSCENARIO"
Hi Team, I would like to log the ego and target vehicle location, speed and so on in a log file. Earlier I used to run the ego vehicle manually or using autopilot and have provide the file write in manual_control.py. Now since Iam running using simple_vehicle_control, I would like to know where I can provide the logging commands. Can i utilise the scenario runner python script. If yes can you kidn

[2021-09-24 11:52] repa1030 opened #809 "OpenScenario RelativeLanePosition and Waypoint Following"
**Describe our question or idea**
I have some trouble with OpenScenario with teleporting an adversary vehicle. The teleport works just fine and the vehicle will
spawn on the correct lane but the waypoint follower will not follow this lane but the oncoming lane doing a U-turn ("actual drive path" in picture).

**Expected behavior**
Driving on the current lane where the vehicle was spawned, as shown

[2021-09-24 12:35] fabianoboril commented on #809
Can you share the scenario?

[2021-09-24 12:39] fabianoboril commented on #334
IDs are meanwhile supported.

[2021-09-24 12:39] #334 closed

[2021-09-24 12:40] repa1030 commented on #809
I just removed the initial position (that was a LanePosition) and now the adversary vehicle starts with the correct drive path but after a while it does a U-turn again.
Here is the scenario file (changed it to txt cause github did not let me upload a xosc file):
[A1_OvertakeOncoming.txt](https://github.com/carla-simulator/scenario_runner/files/7225664/A1_OvertakeOncoming.txt)

[2021-09-24 12:52] fabianoboril commented on #809
Can you update to the 0.9.11 branch (not tag)? We made a couple of improvements over the time, which might have addressed this issue. The XOSC file looks fine on first glance.

[2021-09-24 12:57] werewolfdev commented on #808
@fabianoboril Hi Do you any insights on this please

[2021-09-24 13:01] repa1030 commented on #809
I just updated my local repo to the 0.9.11 branch about 1-2 hrs ago 😄
I corrected the orientation of the RelativeLanePosition, as it was relative before but the problem stays the same:
[A1_OvertakeOncoming.txt](https://github.com/carla-simulator/scenario_runner/files/7225763/A1_OvertakeOncoming.txt)

The vehicle starts driving correct (when no initial pos provided and only the teleport action duri

[2021-09-27 00:04] kino3 opened #810 "ERROR: couldn't perform the expected lane change in LateralAction"
**Describe our question or idea**
I'm trying simple cut-in scenario with simple straight road (attached [scenario_sample.zip](https://github.com/carla-simulator/scenario_runner/files/7232488/scenario_sample.zip)). However, the lane change specified in OpenSCENARIO cannot work well with error message `couldn't perform the expected lane change`. I do not understand why.

**Log**

[code]

**Desktop :

[2021-09-27 06:38] werewolfdev commented on #808
Hi @fabianoboril  Would be great to hear your insights on this. Iam actually trying to log the data as well as try to interact with xosc file with a python script so that I can corporate my coordinate transformations and so on. I would like to know if an interaction between .py and xosc is possible and if yes where can I find the helpful steps for that. Thanks in advance

[2021-09-27 07:37] glopezdiest commented on #798
Okay, so for some reason, the SR cleanup isn't being triggered during the second scenario, which breaks the third. Hmmm, I'll check see if I can reproduce it and report back. In the meantime, I suggest you manually check all cleanup calls and see whether or not they are being called

[2021-09-27 09:09] werewolfdev opened #811 "Interaction between ScenarioRunner Python script and openSCENARIO"
Would be great to hear your insights on this. Iam actually trying to log the data as well as trying to interact with xosc file .with a python script so that I can corporate my coordinate transformations and so on. I would like to know if an interaction between .py and xosc is possible and if yes where can I find the helpful steps for that.

Iam running the ego vehicle using simple_vehicle_control

[2021-09-27 09:50] werewolfdev commented on #808
Data logging , I could do by inserting commands inside simple_vehicle_control python script , but the interaction with the openSCENARIO xosc file and the scenario runner python script seems very vague. Would be helpful to see any documentation regarding this

[2021-09-27 10:47] glopezdiest commented on #798
Apparently, it was a bug we introduced after some changes to how the cleanup worked. The (one line) PR above should fix it. Please give it a try, see if it works for you

[2021-09-27 11:22] Bedoubleu commented on #798
I added the line and now it is working perfectly fine!
Thank you guys. Appreciate your help!

[2021-09-27 12:17] joluko opened #813 "Running Scenarios"
Hello,
first of all i am new to Carla and scenario_runner.

When I try to launch the example scenario FollowLeadingVehicle with >python scenario_runner.py --scenario FollowLeadingVehicle --reloadWorld the following message appears:

_'Configuration for scenario FollowLeadingVehicle cannot be found!
No more scenarios .... Exiting'_

When trying to show the supported Scenarios with >python scenario_

[2021-09-27 13:41] #798 closed

[2021-09-27 13:43] fabianoboril commented on #813
Hi,
I am not familiar with windows, so we might need to go through this together.
It seems that somehow ScenarioRunner is not able to find the scenario files in your case. Therefore, can you please check what
https://github.com/carla-simulator/scenario_runner/blob/8ed24c8da79d27dfbfd7fe00c12802eaf25f8b20/srunner/tools/scenario_parser.py#L108
this line provides in your case? Is this path valid, is

[2021-09-27 13:52] werewolfdev commented on #808
Thanks. Will look into how to do that . Any inputs regarding any documentation about interaction between scenario runner and openSCENARIO xosc file would also be very helpful

[2021-09-28 08:29] werewolfdev commented on #808
Hi   @fabianoboril
Iam getting this error while running python metrics_manager.py --metric srunner/metrics/examples/distance_between_vehicles.py --log srunner/metrics/data/DistanceBetweenVehicles.log
I have added /home/schemba/carla/scenario_runner-0.9.11/srunner/metrics/tools to the python path

Traceback (most recent call last):
  File "metrics_manager.py", line 28, in <module>
    from srunner.

[2021-09-28 09:16] werewolfdev opened #814 "Data logging with metrics manager"
Iam getting this error while running python metrics_manager.py --metric srunner/metrics/examples/distance_between_vehicles.py --log srunner/metrics/data/DistanceBetweenVehicles.log
I have added /home/schemba/carla/scenario_runner-0.9.11/srunner/metrics/tools to the python path

Traceback (most recent call last):
File "metrics_manager.py", line 28, in
from srunner.metrics.tools.metrics_log import M

[2021-09-28 11:43] Roosstef opened #815 "Scenario Runner Status issue"
Hey i think there is a bug in displaying scenario status loading and running.

**To Reproduce**
Steps to reproduce the behavior:
1. Run roslaunch carla_ad_demo carla_ad_demo_with_scenario_runner.launch
2. Click on Execute Follow Leading Vehicle Scenario
3. See Status indicator doesnt switch to running (green) while scenario still executes correctly

 - OS: [e.g. Ubuntu 20.4]
 - CARLA Version [CARL

[2021-09-28 12:07] fabianoboril commented on #815
Adding @fpasch as he is a better help for ROS related interfaces

[2021-09-29 06:15] werewolfdev commented on #814
Hi @glopezdiest Any inputs on this issue will be very helpful. Thanks in advance

[2021-09-29 08:22] glopezdiest commented on #814
I don't seem to be having any errors, and the metrics log is imported correctly. My PYTHONPATH is just the CARLA folder as well as the scenario_runner one

[2021-09-29 08:26] werewolfdev commented on #814
Thanks . Hmm not sure what Iam doing wrong here then

[2021-09-29 08:29] werewolfdev commented on #814
I have run a scenario using openSCENARIO, saved the log and json in srunner folder , then kept the world window running and ran the metrics manager script in the scenario runner folder .
Simulation should be running while we call the metrics manager script: This just means we have to have the world up and running using CarlaUE4.sh script right

[2021-09-30 05:52] werewolfdev commented on #811
Anyone has any ideas on this pls update

[2021-09-30 07:15] joluko commented on #749
I hi with me the same error as described above appeared. Have you found a solution?

[2021-09-30 08:21] LucasFKobernic commented on #749
Hi!

I'm not sure anymore, but i think, i forgot to set the variables. In the terminal you should done something like this (changing the path to CARLA root directory and to ScenarioRunner root directory that matches to your case):

set CARLA_ROOT=C:\carla
set SCENARIO_RUNNER_ROOT=C:\carla\scenario_runner-master
set PYTHONPATH=%CARLA_ROOT%\PythonAPI\carla\dist\carla-0.9.11-py3.8-win-amd64.egg
set P

[2021-09-30 08:45] werewolfdev commented on #814
Hi Team , if the metrics manager doesnt work is there an alternative to log the data of ego and all target vehicles involved. Im using simple vehicle control so as to control ego vehicle as well.

[2021-10-01 09:00] werewolfdev opened #817 "Unable to spawn ego vehicle at required coordinates when using simple_vehicle_control"
Hi Team, Iam using simple vehicle control and trying to spawn the ego vehicle in the left lane to create a left side traffic scenario. Iam not at all able to do so. The car just rotates about the start position and then moves forward .Is it not possible  in CARLA with simple vehicle control or am I missing some setting changes

**Desktop (please complete the following information):**
 - OS: [e.g.

[2021-10-01 12:04] #813 closed

[2021-10-04 07:20] werewolfdev commented on #814
The issue was the absence of init python file in the folder since I was using python 2.7.Thanks for the help @glopezdiest

[2021-10-04 07:20] #814 closed

[2021-10-04 08:03] werewolfdev opened #818 "Logging other actor data suing metrics manager"
Hi Team, as per metrics module and the associated metrics log and metrics parser Iam able to create logs and metrics for the ego vehicle but Iam not able to retrieve the other actor ids and do the same.

adv_id = log.get_actor_ids_with_role_name("scenario")[0]  # Could have also used its type_id
This leads to list index out of range error. If I use type ID and provide like
adv_id = log.get_actor_i

[2021-10-04 08:17] werewolfdev commented on #818
Identified that the type id is the name of the scenario object . However can anyone let me know what is the role name of an actor

[2021-10-06 11:15] ChoByungSoo2 opened #819 "When will OpenScenario version 1.1.0 be supported?"
hello!
The OpenScenario version has been upgraded.
When is the open scenario 1.1.0 supported?

[2021-10-06 12:19] fabianoboril commented on #819
Hi,
I briefly checked the Changelog, and many things should work directly with SR. Is there a particular feature that you are missing?
https://www.asam.net/static_downloads/modelDocumentation/ChangeLog.html

[2021-10-07 14:51] ChoByungSoo2 commented on #819
I use SR version 0.9.11.
https://www.asam.net/static_downloads/modelDocumentation/content/Precipitation.html
https://www.asam.net/static_downloads/modelDocumentation/content/DistanceCondition.html
Like the two above, several have changed, making it difficult to compatible.

Thank you!

[2021-10-08 12:03] julienlau commented on #24
FYI
Please find below a poetry configuration that seems to work on ubuntu20.04:
[code]

[2021-10-09 17:55] alibukharai opened #820 "scenario_runner import carla error, No module named 'carla'"
**Describe our question or idea**
Hello, I am new to CARLA Scenario Runner
I downloaded the Scenario_runner 0.9.12 as compatible with Carla 0.9.12, I set the environment variable as shown in the figure attached but whenever I try to run a scenario by command (py -3.7 scenario_runner.py --scenario FollowLeadingVehicle_1 --reloadWorld), or (python scenario_runner.py --scenario FollowLeadingVehicle_1

[2021-10-09 18:05] alibukharai commented on #81
Hi, I am wondering if you solve the issue, Can you help me?

[2021-10-09 18:06] alibukharai commented on #81
Hi I am wondering if you solve the issue, Can you help me?

[2021-10-09 18:41] alibukharai opened #821 "module 'carla' has no attribute 'WeatherParameters'"
**Describe our question or idea**
Hello, I try to set up scenario runner, set up the environment as shown in the figure  but whenever I try to run a scenario by command (py -3.7 scenario_runner.py --scenario FollowLeadingVehicle_1 --reloadWorld), or (python scenario_runner.py --scenario FollowLeadingVehicle_1 --reloadWorld) or (python3 scenario_runner.py --scenario FollowLeadingVehicle_1 --reloadW

[2021-10-11 15:00] werewolfdev opened #823 "Retrieving relative target actor data when using openSCENARIO and metrics module"
Hi Iam using simple vehicle control with camera attached is true and I would like to know ::
1) if its possible to log the relative position of the target vehicle from the ego vehicle as seen from the camera using the metrics module. I havent found any specific functions in the metrics module regarding this .
2) if I can return the timestamps when usinf openSCENARIO. I have seen that using pytrees

[2021-10-13 01:45] kino3 commented on #810
I self-solved the problem.

- `RelativeTargetLane` value should be `-1`, not `1` because of the road definition (originally left-hand)
- `LaneChangeActionDynamics` `dynamicsDimension` must be `distance` (ref. [this code](https://github.com/carla-simulator/scenario_runner/blob/v0.9.12/srunner/tools/openscenario_parser.py#L1111)) since if not, it will be `inf`

[2021-10-13 01:45] #810 closed

[2021-10-13 07:54] #789 closed, assigned to nobody

[2021-10-13 20:40] ribsthakkar opened #824 "Scenario Runner for Dynamic Navigation/Routes"
Is it possible or does anyone have a suggested approach for using ScenarioRunner for non-static routes. I see the route_scenario runner expects a specific route file and then determines which scenarios appear on the fixed route the ego agent is taking.
However, I am interested in changing my route as the ego travels through the world or perform route choices such that I decide my route at every in

[2021-10-15 10:06] chinmay-d opened #826 "ModuleNotFoundError: No module named 'srunner'"
I have added SCENARIO_RUNNER_ROOT as senario_runner in the system variables path which I downloaded from [Carla git](https://github.com/carla-simulator/scenario_runner/archive/refs/tags/v0.9.12.zip) for carla 0.9.12. In this senario_runner we have srunner folder which I am trying to import to scenario_manager.py and in leaderboard_evaluator.py.  I also added ./senario_runner in settings.json of vs

[2021-10-18 08:36] glopezdiest commented on #826
Hey @chinmay-d, it seems like python isn't finding *srunner*, have you added your scenario runner folder to the PYTHONPATH?

[2021-10-18 10:11] #821 closed

[2021-10-27 06:54] werewolfdev opened #827 "Discrepanies regarding the position of spawning"
Hi Team,

I am trying to find suitable spawning points for my vehicle for the respective scenario using simple_vehicle_control. If I roam around using manual_control.py in external control and find a suitable junction and provide those coordinates as initial position in my xosc file with the same map, my vehicle is getting spawned at a different location. Anyone experienced this issue
**Desktop (p

[2021-11-02 07:50] chinmay-d commented on #826
sorry for being late... Yeah I have tried adding scenario_runner and still I get same error...
Also I dualbooted to ubuntu now and tried following instructions on [Leaderboard](https://leaderboard.carla.org/get_started/) I have set leaderboard git and also scenario_runner git for carla_0.9.12 in ubuntu and I still get the same error

The error:
![srunner1](https://user-images.githubusercontent.com

[2021-11-02 09:00] GeneralMak opened #828 "an error occurred when using the metrics module"
when I use the following commands  to run scenario ,there will always be an error.
_1.python scenario_runner.py --scenario FollowLeadingVehicle_1 --record srunner/metrics/data_
__2.python3 metrics_manager.py --metric srunner/metrics/distance_between_two_vehicles.py --log srunner/metrics/data/FollowLeadingVehicle_1.log_
![Q6YT}CK05M%PVGZ3TJX2HMD](https://user-images.githubusercontent.com/56059626/1

[2021-11-02 09:12] glopezdiest commented on #826
I see. All your images seem fine and unless your `scenario-runner_0.9.12` doesn't contain `srunner`, I can't see the problem. Could you maybe remove the 3 `srunner` imports and see if the `leaderboard` ones are imported? With that, we can see if the problem is in the PYTHONPATH, or in the srunner module.

[2021-11-02 09:12] GeneralMak commented on #828
I refer to what the official document says ,it can't run successfully

[2021-11-02 09:27] chinmay-d commented on #826
I have commented all the imports containing of srunner and I get this error:
![scrunner5](https://user-images.githubusercontent.com/59077531/139820305-b9e66675-9064-4bb7-98b4-b04663f96501.png)

Yeah I think its a PYTHONPATH issue, but can't figure out what's wrong..

[2021-11-02 09:33] chinmay-d commented on #826
I guess, the python version in `PythonAPI/carla/dist` is 3.7 but the 'carla' env that I made using pyenv has version 3.8.0. As carla 0.9.12 supports python version 3.8 so I used an env with python version 3.8.0. Is this causing the problem?

[2021-11-02 10:11] chinmay-d commented on #826
@glopezdiest  I even tried with env python version 3.7.1 I still get same above error `ModuleNotFoundError: No module named 'agents.navigation.global_route_planner_dao'` after commenting all the srunner imports

[2021-11-02 12:21] glopezdiest commented on #826
That might be another issue, as we changed the agents for 0.9.12, and without [these](https://github.com/carla-simulator/leaderboard/commit/56484354a019a3094b5c0bbf62beb0642c2fa559) changes, the leaderboard crashes

[2021-11-02 12:31] chinmay-d commented on #826
@glopezdiest, so I should try cloning leaderboard again?

[2021-11-02 12:45] chinmay-d commented on #826
yea, I made the changes and I still get `ModuleNotFoundError: No module named 'srunner'` and when I comment all the imports of srunner from all .py files I get this error:
![srunner6](https://user-images.githubusercontent.com/59077531/139848857-a88893cb-c64b-459c-9263-ffa1fd918c32.png)

[2021-11-02 18:26] chinmay-d commented on #826
I closed my terminal and opened a new terminal and uncommented all the imports of srunner.... and It worked....
All I did after cloning git of [leaderboard](https://github.com/carla-simulator/leaderboard) when I got support for carla 0.9.12 is cloned git of [scenario_runner-0.9.12](https://github.com/carla-simulator/scenario_runner/releases/tag/v0.9.12) and restarted the teriminal.... and now its

[2021-11-03 02:19] GeneralMak commented on #826
@chinmay-d  Hello ,can you tell me how to successfuly run this leaderboard_evaluator.py?  thank you

[2021-11-03 07:16] glopezdiest commented on #826
Oh, seems like you updated the PYTHONPATH but didn't refresh the terminal nor sourced the new bash script, so the new PYTHONPATH wasn't being used. It should work for you now.

@GeneralMak Please, open another issue with your specific issues.

[2021-11-03 07:16] #826 closed

[2021-11-03 08:12] GeneralMak commented on #828
es.githubusercontent.com/56059626/139816294-69a3c17c-ca7f-490d-b0a0-17beb7bbfce4.jpg)

[2021-11-03 08:55] GeneralMak commented on #828
I successfully recorded a FollowLeadingVehilce_1 by running _python scenario_runner.py --scenario FollowLeadingVehicle_1 --record srunner/metrics/data_,but when I run the second command(_python3 metrics_manager.py --metric srunner/metrics/distance_between_two_vehicles.py --log srunner/metrics/data/FollowLeadingVehicle_1.log_), I encountered the following error, do you know how to solve it?
![75Z)C

[2021-11-03 15:19] joluko opened #829 "Logging Velocities and Acceleration with scenario_runner.py"
Hello,
I want to plot the Velocitie and Accelerations from the Ego Vehicle form the log file createtd with the scenario_runner.py.
Therefore I am using the metrics_manager. The Problem is that i.e. log.get_actor_acceleration(self, actor_id, frame) always returns 'None'.

I think i have to edit the recorder somehow, because the velocties and accelerations are not logged but i dont know how.
Can som

[2021-11-04 17:22] Brandeyy opened #830 "OpenScenario Pedestrian Control - OverrideControllerValueAction"
Hello everyone,

I am trying to use the pedestrian_control for my scenario. I am using OpenScenario and I dont know what to enter in the OverrideControllerValueAction section.

![Unbenannt](https://user-images.githubusercontent.com/84904650/140388146-1bcf535e-d6cf-4f18-9487-7e9b3bad2ae3.PNG)
)

I would really appreciate if anyone could tell me how to use this controller or where to look for the ri

[2021-11-05 12:42] Brandeyy commented on #830
Seems to be working now, even though I didnt change anything. I still get a lot of error messages after the scenario.

[2021-11-06 15:10] #830 closed

[2021-11-08 01:58] GeneralMak commented on #829
Yes，I currently hava a problem  similar to yours ,When using the log.get_actor_transform(self, actor_id, frame) always return 'None'

[2021-11-08 12:04] youngzhou1999 opened #831 "list index out of range when running Traffic Scenario 04"
Hi, there.
I got an error when running routes 6 in Town01 of traning.xml and scenario04 of all_scenarios.json. The whole message looks like this(ignored file path):
`Traceback (most recent call last):
  File "srunner/scenarios/route_scenario.py", line 401, in _build_scenario_instances
    world, [ego_vehicle], scenario_configuration, criteria_enable=False, timeout=timeout
  File "srunner/scenarios

[2021-11-08 14:16] GeneralMak commented on #828
When I use the Disance_between_vehilces metric for FollowLeadingVehilce_1.log, there will be AttributeError"'NoneType' object has no attribute'location',
When I use the distance_to_lane_center metric for ControlLoss_1.log, I still get AttributeError"'NoneType' object has no attribute'location'. Then I print(log.get_actor_transform(ego_id,i)) in the 56th line of the disaster_between_vehilces and th

[2021-11-08 15:02] lasuomela opened #832 "OpenScenario parameter assignment is broken"
**Describe the bug**
A clear and concise description of what the bug is.

Hello, I updated the scenario runner from
[05a811a](https://github.com/carla-simulator/scenario_runner/commit/05a811a6248c8033e4c76185ff40ae5eccad7e69)
to
[e5b06cc](https://github.com/carla-simulator/scenario_runner/commit/e5b06cc727831ffe61ff828e0566c202ef34ae04)

to get OpenScenario ParameterAction support. However, now it

[2021-11-08 16:54] fabianoboril commented on #827
Be careful, that OSC is right-handed, but CARLA left-handed. Either you use "CARLA:" at the start of the XOSC description field, or you have to invert the y coordinate.
https://github.com/carla-simulator/scenario_runner/blob/master/Docs/openscenario_support.md#general-openscenario-setup

[2021-11-08 16:56] fabianoboril commented on #819
The problem is that 1.1 and 1.0 are not really compatible, or we have to basically support two front-ends. If you are willing to implement the changes, I can support you in guiding what needs to be changed.

[2021-11-08 17:49] lasuomela commented on #832
Thanks for the quick reply. I tried the new fix, with that the ouput is
![Screenshot from 2021-11-08 19-46-17](https://user-images.githubusercontent.com/25725697/140792375-1bd8a3b2-b9ea-4f20-8a52-20dc469ae50e.png)
So the problem still persists

[2021-11-08 18:00] fabianoboril commented on #832
Can you share your scenario file? The traceback is different now...

[2021-11-08 22:01] lasuomela commented on #832
So I managed to solve the error message for the route maneuver catalog, resolving the error message from my previous comment by adding a string conversion to the line from your fix:

[code]
->
[code]

However, after solving I'm running into similar issues with the rest of the parameters too:

![Screenshot from 2021-11-08 23-36-24](https://user-images.githubusercontent.com/25725697/140822938-e36815

[2021-11-08 22:51] lasuomela commented on #832
Actually, here's the minimum steps to reproduce, based on making the map choice a parameter in the FollowLeadingVehicle.xosc example (changes only on lines 6 and 11, compared to the original):

[code]

Running this through the ros-bridge rviz2-plugin leads to
![Screenshot from 2021-11-09 00-48-45](https://user-images.githubusercontent.com/25725697/140830560-43ef6f24-adb2-471d-970c-270df2e74ac9.png

[2021-11-09 13:22] glopezdiest commented on #828
I'll take a look, seems like the metrics module is broken

[2021-11-09 13:23] glopezdiest commented on #829
The idea would be that if the actor_id is correct, then you'd get the transform of the actor, but it might be broken, as pointed out by another issue. I'll test it an answer asap

[2021-11-09 13:25] GeneralMak commented on #828
Is the offical metrics module broken? or my metrics module is broken

[2021-11-09 13:31] fabianoboril commented on #832
Hi,
I pushed a new PR that addresses this problem. In fact, there were some considerable changes to enable OSC ParameterActions, that allow changing parameters at runtime. Unfortunately, that required quite some rework under the surface of scenariorunner. I hope I fixed all relevant locations. I tested it with your sample code, which seems to work now.

[2021-11-09 16:16] lasuomela commented on #832
Hi,
I was working on the same changes. I cross-checked our changes to make sure most cases are handled. I also updated the ParameterRef class to handle other data types than float.

But one more thing. With the changes you suggested, the ParameterAction wasn't working. This was because the config file is parsed at scenario init, so any parameters that would be affected by ParameterAction were actu

[2021-11-09 16:31] fabianoboril commented on #832
Hi,
ah good to see that you went into the code as well. What I am not getting from your statement: Are you saying my new PR is breaking ParameterActions? It shouldn't, but I haven't tested that part yet. It was just a quick fix to get your things working.

In the past, we went over the XOSC file and basically replaced all parameter calls with the default values. However, to enable dynamic paramete

[2021-11-09 16:48] glopezdiest commented on #828
Seems like the metrics module itself, but I'm not sure as I haven't used it in a while

[2021-11-09 17:09] lasuomela commented on #832
Hi,
Looking at ParameterRef implementation, it seems to me that running str(ParameterRef(parameter)) retrieves the value of the parameter held in CarlaDataProvider at the time of the call. Since this is now being called in openscenario_parser that is run once at the initialization of scenario, it means that the xmltree values are hard coded to the parameter values present at the initialization of

[2021-11-09 17:26] fabianoboril commented on #832
Well, the problem is that we construct the entire behavior tree for the scenario at the very beginning. If that construction fails, because a ParameterRef has to be converted to float/str/whatever, we have to do the conversion. But then, even if this is very late in the scenario, the value is already converted and may not be updated. That basically would mean that everything that can be a paramete

[2021-11-09 17:51] lasuomela commented on #832
Yeah, I agree with you that fully supporting ParameterActions would require everything that can be parametrized to be forwarded onto the corresponding atomic behavior.

Is this something that would be desirable?

Fabian Oboril ***@***.***> kirjoitti 9.11.2021 kello 19.26:

﻿

Well, the problem is that we construct the entire behavior tree for the scenario at the very beginning. If that constructio

[2021-11-09 18:04] fabianoboril commented on #832
I guess, if we touch it now, it is better to do it right ;) Do you want to give it a try?

[2021-11-10 01:01] GeneralMak commented on #828
Do you know how to solve this problem?

[2021-11-10 13:29] glopezdiest commented on #831
Hey @youngzhou1999, could you explain with a bit more detail what you are doing? I just run
[code]
and everything seems to run correctly

[2021-11-10 14:46] glopezdiest commented on #828
@GeneralMak I'm linking this issue with #829, as you already answered there and the error is basically the same. We'll close this when the other one is resolved too.

[2021-11-10 14:58] glopezdiest commented on #829
@GeneralMak @joluko After some testing, I can't really see your error. I tested the metrics module **for version 0.9.11 everything is working fine**. Running the distance between vehicles examples:
[code]
I can definitely see the graph created with matplotlib, and `log.get_actor_transform(self, actor_id, frame)` does not return None for me.

The metrics module is broken for 0.9.12, failing to pars

[2021-11-11 01:27] GeneralMak commented on #829
Okay, first of all thank you very much for your help.

I do is to create some scenarios by myself, and get some data through the metric module, such as distance between cars, speed, acceleration, etc.
Will you re-release the revised version of the measurement module in 0.9.12? When will it be released?

[2021-11-11 01:53] GeneralMak commented on #829
I also tried it in Carla 0.9.10 and  it worked correctly. So I decided to use Carla 0.9.10 for the time being

[2021-11-11 04:50] youngzhou1999 commented on #831
Hey @glopezdiest , thanks for reply.
I was testing the behavior of my own policy running on Town01. So the error was caused by the function called `generate_target_waypoint_in_route` in Scenario04 `VehicleTurningRoute`. I test the `auto_agent` just now and it seems fine. So maybe there are some problems in my policy.

[2021-11-11 07:51] glopezdiest commented on #829
I'll update it today, and it'll be ready for 0.9.13. Anyway, the changes are very minor, so you should be able to cherry pick it to 0.9.12.

[2021-11-11 08:36] GeneralMak commented on #829
Okay, thank you very much for revising the carla 0.9.12 metric module! In addition, I have a question to ask you, why can get the speed of ego vehicles through _**log.get_actor_velocity(actor_id, frame)**_ from DistanceBetweenVehilces.log. But when I get the log file from the scenario I created, the return value through **_log.get_actor_velocity(actor_id, frame)_** is None? I can’t get the speed,

[2021-11-13 09:18] lasuomela commented on #832
Hmm. What would it require on code level? From how I understand the code, this would mean doing the same thing I did for UserDefinedAction for

1. atomic behavior constructions in openscenario_parser/convert_maneuver_to_atomic()
2. atomic condition constructions in openscenario_parser/convert_condition_to_atomic()
3. Reworking openscenario_parser functions such as get_weather_from_env_action() int

[2021-11-15 03:24] GeneralMak commented on #829
Hello, I found that after updating the metic_module you corrected, the original problem not only has not been solved, but the problem has become more serious. Before, I could use ScenarioRunner-0.9.12 to record scenarios, but I could not measure scenarios, but now I can neither record scenarios nor measure scenarios
The following error is always reported when recording scenes:
![~ZZP 2@R25C51$UKBS

[2021-11-15 03:42] #831 closed

[2021-11-16 11:21] glopezdiest commented on #829
@GeneralMak Sorry for the delay, I'll take a look. Maybe we changed the recorder, and it breaks if you mix different versions? All my tests where using new logs, so I'll do more digging and report back.

[2021-11-16 13:52] fly12312312 commented on #829
Hello, I saw your changes to metrics_module in ScenarioRunner 0.9.12, and I did so. But I also encountered the  problem. When running _python metrics_manager.py --metric srunner/metrics/examples/distance_between_vehicles.py --log srunner/metrics/data/DistanceBetweenVehicles.log_, it appears that'NoneType' object has no attribute'location' As shown in the figure below 。
![图片](https://user-images.gi

[2021-11-16 14:20] GeneralMak commented on #829
@glopezdiest
First of all, thank you very much for your reply. I have solved the problem of scenario recording(). I found that it is necessary to set _**True**_ in line 408 of **_scenario_runner.py_** to **_False_** to record the scene. As shown below.
![{@DV 43 9F~)A )0KW2`HB2](https://user-images.githubusercontent.com/56059626/142000845-987a6682-6f6e-4019-bdba-997632a870a8.png)
It successfully r

[2021-11-16 14:29] GeneralMak commented on #829
At present, I still don’t know why changing the values of True and False will result in different changes.

[2021-11-16 14:51] glopezdiest commented on #829
@GeneralMak @fly12312312 I'm just oh so stupid. For 0.9.12, we added the large maps feature, which changed the recorder, so the example _logs_ don't work. This was causing the `client.show_recorder_file_info()` to fail, having missing data or timing out, which explains the issues you are seeing. In other words, **you can't use the examples *logs* with CARLA 0.9.12, but you can use newly generated

[2021-11-16 16:07] MaddysonBlaze opened #839 "scenrio_runner crashes server on CARLA 0.9.12"
I have been trying to run a simulation on using OpenScenario files and scenario runner. Please find my local setup details below.

CARLA version: 0.9.12 precompiled version and source build version

Platform/OS: **Ubuntu 18.04 LTS**

GPU : **NVIDEA GeFORCE RTX 3070**

Graphics driver : **Nvidia driver version : 495.44**

Scenario Runner version : **0.9.12_RSS**

Problem you have experienced:

I ge

[2021-11-17 01:32] GeneralMak commented on #829
@glopezdiest Thank you very much for your answers. I understand, what you mean is that there is no need to modify the _**True**_ value in scenario_runner.py and metric_manager.py. The reason why the scene cannot be recorded and measured is because of the Carla 0.9.12 version.

[2021-11-17 17:17] Brandeyy opened #840 "Error when trying to run distance_between_vehicles.py with the metrics module and my own logfile"
I am getting this error message when trying to run distance_between_vehicles.py and I cant figure out where my mistake is

![tempsnip](https://user-images.githubusercontent.com/84904650/142249426-25dfa39f-3c4b-4b80-9e35-55e9293a6cf1.png)

 - OS: [Windows10]
 - CARLA Version [e.g. CARLA 0.9.11]
 - Python version [e.g. 2.7]
 - Version [e.g. 0.9.11]

[2021-11-18 13:50] glopezdiest commented on #840
Hey @Brandeyy I've never seen that before, can you pass me the *.log* file? I'll try to run it, see what's happenning

[2021-11-18 15:39] Brandeyy commented on #840
@glopezdiest this is the log file, this also happened with other log files I recorded myself. The example one worked just right.
[VehicleConstructionSite.log](https://github.com/carla-simulator/scenario_runner/files/7563993/VehicleConstructionSite.log)

[2021-11-18 17:12] Brandeyy opened #841 "Setup sensors and retreive data with manual_control.py"
Hello everyone,

I would like to maneuver my car through my scenario using manual_control.py and record data with different sensors attached to the vehicle. Can anyone tell me how to setup the sensors and how to retreive the corresponding data. I am using OpenScenario to create my scenarios.

I looked through through this forum and couldnt find an answer to my question. So if anyone could tell me

[2021-11-23 12:46] glopezdiest commented on #840
After some digging, it seems like the spectator camera, as well as sensors and other objects, has a bounding box of 'nan' (and an extent of 'inf' (`Id: 432 origin: (-nan, -nan, -nan) extension: (-inf, -inf, -inf)`)

The weird thing is that does type of string should be correctly parsed and is indeed what's happening to me, as I just run your test and it didn't fail. Anyway, I'll just add a check f

[2021-11-23 12:46] #840 closed

[2021-11-23 14:52] glopezdiest commented on #48
Make sure your PYTHONPATH is correctly pointing to the *.egg* file

[2021-11-23 14:52] #48 closed

[2021-11-23 14:52] glopezdiest commented on #162
Closing the issue as this is no longer the case for current Scenario Runner.

[2021-11-23 14:52] #162 closed

[2021-11-23 14:53] glopezdiest commented on #174
Closing this, as this is no longer the case. If this can be reproduced by current Scenario Runner, feel free to reopen it

[2021-11-23 14:53] #174 closed

[2021-11-23 14:53] #238 closed

[2021-11-23 14:53] #244 closed

[2021-11-23 14:53] #304 closed

[2021-11-23 14:53] glopezdiest commented on #328
In order to run scenarios in synchronous mode, you can now use the `--sync` flag at scenario_runner.py. This will make the simulation run synchronously but remember that only one client can do the world.tick and the others (such as the manual control) will have to wait for it (so they'll run asynchronously)

[2021-11-23 14:53] #328 closed

[2021-11-23 14:59] glopezdiest commented on #400
Closing this as it is no longer relevant to current Scenario Runner. Feel free to reopen it if that isn't the case

[2021-11-23 14:59] #400 closed

[2021-11-23 15:02] glopezdiest commented on #592
They aren't. The idea is for you to submit your docker, and then we'll modify it to ensure a fair competition between users + some private routes and scenarios

[2021-11-23 15:11] #617 closed

[2021-11-23 15:12] #621 closed

[2021-11-23 15:17] glopezdiest commented on #480
Closing this issue while waiting for the original poster to provide more information. Feel free to reopen it if needed

[2021-11-23 15:17] #480 closed

[2021-11-23 15:18] glopezdiest commented on #634
Closing this issue as another user has already answered the problem. Feel free to open it if that isn't the case

[2021-11-23 15:18] #634 closed

[2021-11-23 15:21] #660 closed

[2021-11-23 15:27] #675 closed

[2021-11-23 15:28] #684 closed

[2021-11-23 15:28] #688 closed

[2021-11-23 15:31] #696 closed

[2021-11-23 15:32] glopezdiest commented on #697
@werewolfdev Did you manage to solve the issue? I'm preemptively closing issue as it is a bit old, but feel free to reopen it

[2021-11-23 15:32] #697 closed

[2021-11-23 15:34] glopezdiest commented on #701
@TKeutgens Did you manage to solve the issue? I'm preemptively closing issue as it is a bit old, but feel free to reopen it

[2021-11-23 15:34] #701 closed

[2021-11-23 15:38] glopezdiest commented on #706
Personally, I don't think a flag is worth having for such a niche use-case. What if later one, you don't want the waypoint, but any other information?

[2021-11-23 15:39] werewolfdev commented on #697
Solved .Thanks

[2021-11-23 15:40] #707 closed

[2021-11-23 15:43] glopezdiest commented on #715
Hey, sorry for the delay. If I recall correctly, this was caused by the manual control lacking some world ticks, which didn't correctly set up the surface before trying to access it. This should be fixed so I'm closing the issue. Feel free to reopen it if you can still reproduce it

[2021-11-23 15:43] #715 closed

[2021-11-23 15:46] glopezdiest commented on #718
As @fabianoboril said, this might have been due the controllers, causing lane changes to not be done smoothly. We have been updating them quite a bit recently, so is this still happening? I'm preemptively closing this issue as this is quite an old post, but feel free to reopen it if needed

[2021-11-23 15:46] #722 closed

[2021-11-23 15:49] glopezdiest commented on #726
Closing this issue as both controllers and physics have been improved quite a bit in order to smooth out these behaviors. Feel free to reopen it if this is still happening to you

[2021-11-23 15:49] #726 closed

[2021-11-23 15:50] glopezdiest commented on #730
Solved, closing the issue. Feel free to reopen if if that isn't the case

[2021-11-23 15:50] #731 closed

[2021-11-23 16:01] #758 closed

[2021-11-23 16:01] #761 closed

[2021-11-23 16:03] glopezdiest commented on #778
Solved. Feel free to reopen it if more help is needed

[2021-11-23 16:03] #778 closed

[2021-11-23 16:03] #781 closed

[2021-11-23 16:05] glopezdiest commented on #782
Closing this issue as this seems to be solved. Feel free to reopen it if needed

[2021-11-23 16:05] #782 closed

[2021-11-23 16:06] glopezdiest commented on #803
Closing this issue while waiting for the original poster to provide more information. Feel free to reopen it if needed

[2021-11-23 16:06] #803 closed

[2021-11-23 16:07] #817 closed

[2021-11-23 16:09] glopezdiest commented on #820
@alibukharai You have to add those variables (CARLA_ROOT, SCENARIO_RUNNER_ROOT, PYTHONPATH) as fixed environment variables or you will have to set them up everytime you open a new terminal

[2021-11-23 16:09] #820 closed

[2021-11-23 16:12] glopezdiest commented on #839
Hey @MaddysonBlaze, could you provide the exact commands you are using to encounter this error.? And is this happening immediately or after a while? Debugging server issues with packages is next to impossible so any information you can provide will be appreciated

[2021-11-24 13:36] Bonifatius94 opened #843 "Clarify the Usage when Performance Testing with Scenarios"
**Describe your question or idea**
I'm pretty fascinated that there's a really nice component in CARLA for specifying automated test scenarios. However, as I'm trying to implement a self-driving car software, it's not so clear to me how I can use the scenario runner to do some sophisticated performance testing and software quality measurements.

As I understood, your scenario runner spawns vehicle

[2021-11-24 15:04] Brandeyy commented on #840
Thanks a lot !

[2021-11-25 14:51] #829 closed

[2021-11-25 15:21] afterimagex opened #844 "About CarlaDataProvider ."
**Describe our question or idea**
A clear and concise description.

# I want to know, why not replace the function of CarlaDataProvider with carla.WorldSnapshot, I think this is a more appropriate approach

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete t

[2021-11-26 00:37] afterimagex commented on #843
Maybe you can try to write your own agent.

[2021-11-26 01:20] Bonifatius94 commented on #843
Thanks for replying 😄 Ehm yeah, I'm pretty shocked that the CARLA community did miss out on this really obvious use case 🤔

You know, I need this feature really badly, so I'll give it a try anyways. I'll let you know about my progress 😉👨🏻‍💻

[2021-11-26 13:24] xqrdot opened #845 "Latest CARLA 0.9.13-compatible branch doesn't work with Python2 (ROS1 Melodic)"
# Overview
ScenarioRunner has compatibility issues with Python2. Some syntax is Python3 dependant.

# Tracebacks
Here are the Tracebacks of different issues:

## Case 1: srunner/tools/openscenario_parser.py
[code]
Specifying return type is not supported in Python2. All of those can be removed, including this:
[code]

## Case 2: srunner/scenariomanager/watchdog.py
Relates to #757

If you fix issues

[2021-11-26 17:51] Brandeyy commented on #843
I feel like most of the people that use CARLA know how to do this themselves. That is why there is no specific tutorial for that.
I am struggling with the same issue and already opened an issue as well on this.

I think you have to modify the manual_control script or one of the agent scripts that control the cars in a scenario. But I am lacking the skills to do that myself.

So if you make any pro

[2021-11-27 01:59] Bonifatius94 commented on #843
Having had a closer look at the code, I can say that the scenario runner does lots of stuff that it shouldn't. It needs some refactoring to address some vicious coupling.

@afterimagex I think that implementing an agent deriving from AutonomousAgent is not a good solution. In my case I neither need the scenario runner to provide me with car sensor information nor do I want to control a vehicle wit

[2021-11-29 07:21] fabianoboril commented on #843
Hi @Bonifatius94:

thanks for brining up this question. In fact, with SR this can be "easily" achieved. Yet, depending on which scenario definition you use, you have to follow different paths.

First option as you use the ROS-Bridge already: https://carla.readthedocs.io/projects/ros-bridge/en/latest/carla_ros_scenario_runner/
There is an integration within the ROS Bridge to spawn an ego vehicle th

[2021-11-29 07:22] fabianoboril commented on #845
This is known, and was mentioned in the Changelog. SR is no longer compatible with Python 2 (which is EOL).

[2021-11-29 07:25] fabianoboril commented on #844
Well yes, you could use the WorldSnapshot for many things. The story is as always: When we started with SR, there was no WorldSnapshot, and then SR grew, CARLA added the WorldSnapshot calls, but SR meanwhile had a working solution.

If you would like to introduce the Snapshot to replace for example the actor handling (dicts) in the CarlaDataProvide we may support you in this process and of course

[2021-11-29 08:51] Bonifatius94 commented on #843
Hi @fabianoboril, thank you very much for replying.

I've seen you responding this exact same message to other guys asking about the same question. I do appreciate what you write, but it's just that I cannot fit the puzzle together unfortunately.

For me, it's about a conrete example configuration that's properly working. I'm sorry, but I cannot figure out how to do this just from your message. I

[2021-11-29 08:57] xqrdot commented on #845
Ah, didn't see that it is mentioned in the changelog. Makes sense then, have nothing against that decision. This Issue will come in handy for anyone stuck with Python2 too.

Thanks for answering!

[2021-11-29 08:57] #845 closed

[2021-11-29 09:49] fpasch commented on #843
As you're using ROS and therefore most likely the [ros-bridge](https://github.com/carla-simulator/ros-bridge) anyway, you might want to try [carla_ros_scenario_runner](https://github.com/carla-simulator/ros-bridge/tree/master/carla_ros_scenario_runner) which is a wrapper around scenario runner.

Give it a try by following the launch instructions of [carla_ad_demo](https://carla.readthedocs.io/proj

[2021-11-29 10:55] Bonifatius94 commented on #843
@fpasch thanks for replying. I would never have expected an example be located at carla_ad_demo. Anyways, looks promising. I'm already using the ROS bridge scenario runner, but it didn't work. I'll let you know whether I got it to work. If so, I'll provide my instructions to improve the docs 😉 Best wishes, Marco

[2021-11-29 12:19] glopezdiest commented on #843
The way I see Scenario Runner is that it handles everything in the simulation except for the ego, and that's why most of our example don't use sensors, because the scenario vehicles don't use those. With that being said, you can make SR control the ego vehicle, but that needs a tiny bit of tuning to do.

That's why you have to do two commands to run each and every scenario. The first command runs

[2021-11-29 16:11] Brandeyy commented on #841
Managed to get the a camera attached. Ill see where it goes from here

[2021-11-30 00:48] HakanAkkurt commented on #81
Has anyone any solution ? I have the same error

[2021-11-30 00:49] HakanAkkurt commented on #81
ImportError: No module named agents.navigation.roaming_agent
[Finished in 1.1s with exit code 1]
even after adding both CARLA_ROOT and PYTHONPATH to the Path system variable. it still throws error

Has anyone any solution ? I have the same error...

[2021-11-30 23:52] Bonifatius94 commented on #843
Thanks for the little hint with carla_ad_demo @fpasch. This did actually work for me once I figured out how to build the ROS bridge and scenario runner from scratch inside my Dockerfile.

As already said, I'll publish my approach in a few months once our university challenge is over.

Thanks to all replying to this issue 😉

[2021-11-30 23:57] #843 closed

[2021-12-06 12:00] roque2205 commented on #839
Hi, I get the same error when I try to run FollowLeadingVehicle_1. It works when I set my custom map as scenario town, so it seems to be a map-related issue?

[2021-12-07 07:42] WindTi commented on #809
Did you solve this problem? I had a similar problem when I was writing a scene where the initially generated vehicle was teleport to the new location instead of going along the road but going toward the initial point, as if a new route had been formed between the two points.

[2021-12-07 08:21] WindTi commented on #809
I'm now on the 0.9.12 branch. I think you have the same problem as I have, I have tried to adjust the adversaries in different positions multiple times, and each time the regenerated vehicle races toward the corresponding initialization build point. Apparently your initialization build point is behind, so you're creating a u-turn.

[2021-12-07 09:04] WindTi commented on #703
Hello, you mentioned local planner and waypoint buffer, how can I reset them?

[2021-12-08 09:13] kargarisaac opened #846 "Add new scenario to ros-bridge"
Hi,
I'm trying to use another scenario from scenario runner with carla_ad_demo. I put the scenario file `LaneChangeSimple.xosc` in the config folder next to the `FollowLeadingVehicle.xosc` file and change both launch files in the launch folded. Then I build again and source and run the `ros2 launch carla_ad_demo carla_ad_demo_with_scenario.launch.py` command. I can see the new added scenario in rv

[2021-12-09 08:05] glopezdiest commented on #703
What version of CARLA are you using? We improved the agents a lot for 0.9.12 and they work differently.

For > 0.9.12, check [this variable](https://github.com/carla-simulator/carla/blob/master/PythonAPI/carla/agents/navigation/local_planner.py#L65), which is a list of future waypoints the vehicle will pas through. On teleport, you'd have to reset that to be empty. For previous versions, you'll wa

[2021-12-10 01:20] WindTi commented on #703
Thanks for the reply, I am using carla0.9.12. I have not used the method you mentioned, I will try it later. At present, after trying to use RoutingAction->AssignRouteAction->Route->waypoint->position->relativelaneposition (reset the start point and the end point), I solved the problem of the object on the straight road.

[2021-12-14 12:39] Kron610 opened #847 "The behavior of the ScenarioObject depends on the selected model"
**Description**
The behavior of the ScenarioObject depends on the selected model if run scenario_runner using OpenScenario. If you change line:
`<Pedestrian model="walker.pedestrian.0001" mass="90.0" name="walker.pedestrian.0001" pedestrianCategory="pedestrian">`
 to line
`<Pedestrian model="vehicle.bh.crossbike" mass="90.0" name="walker.pedestrian.0001" pedestrianCategory="pedestrian">`,
then the

[2021-12-20 09:48] kargarisaac opened #848 "OpenScenario 2 support"
Hi,

Openscenario 2 is out and would be very useful if scenario runner can support it.
Is there any plan for that?

Thanks

[2021-12-20 09:49] kargarisaac opened #849 "OpenScenario 2 support"
Hi,

Openscenario 2 is out and would be very useful if scenario runner can support it.
Is there any plan for that?

Thanks

[2021-12-23 11:45] lasuomela commented on #832
Hello @fabianoboril, I began implementing the runtime parameterRef resolution for atomic behaviours. I started by implementing the functionality for AbsoluteTargetSpeed and RelativeTargetSpeed OSC instructions. Could you check the included commit to determine if my approach is okay?

The commit can be found [here](https://github.com/lasuomela/scenario_runner/commit/0813aa65992e834ad41413e91de80228

[2021-12-28 06:55] markfilan commented on #625
An UnboundLocalError is raised when a local variable is referenced before it has been assigned. In most cases this will occur when trying to modify a local variable before it is actually assigned within the local scope. Python doesn't have variable declarations, so it has to figure out the scope of variables itself. It does so by a simple rule: If there is an assignment to a variable inside a func

[2021-12-31 03:07] nda97531 opened #851 "Doc for creating new scenario is outdated"
I'm following the guide to create a new scenario but _[Docs/creating_new_scenario.md](https://github.com/carla-simulator/scenario_runner/blob/master/Docs/creating_new_scenario.md)_ seems to be outdated, I cannot find _atomic_scenario_behavior.py_ and _setup_vehicle()_ in _basic_scenario.py_.
Can someone please update it, thanks.

[2021-12-31 18:40] apiszcz opened #852 "0.9.13 Scenario runner, error, ERROR: failed to destroy actor 722 : unable to destroy actor: not found"
Is this a common issue? How do I correct the error? Tx

[code]

[2022-01-07 13:16] lasuomela commented on #832
Hello @fabianoboril ! (Tagging @germanros1987 in case he's not actively working on Carla at the moment.)

PR #834 now intoduces ParameterAction support to all OpenSCENARIO Actions - the parameter values are now resolved during runtime inside the AtomicBehaviors. I tested each of the actions with ParameterAction and they now seem to work correctly. Could you review the changes, please?

[2022-01-07 21:54] steki555 opened #853 "OpenScenario Camera"
Hello! I would like to get the results of the camera attached to my ego_vehicle.

I have already added the following code to my xosc file.
``
![image](https://user-images.githubusercontent.com/36483060/148612277-7ad3681c-dfdf-454c-9b26-5ca3da1490ce.png)

How can I receive Camera Data and LIDAR Data to later evaluate? For example as JPG or PNG ?
Thank you in advance!

**Desktop (please complete the

[2022-01-09 19:02] Lucifer2700 commented on #81
For Windows users I resolved the issue with running the command

set CARLA_ROOT= C:...\CARLA
set PYTHONPATH= C:...\Python ; C:...\CARLA\PythonAPI\carla; C:...\CARLA\PythonAPI\carla\dist\carla-0.9.5-py3.7-win-amd64.egg ; C:...\CARLA\PythonAPI\scenario_runner-0.9.5; C:...\CARLA\PythonAPI\carla\agents

[2022-01-10 08:42] werewolfdev opened #854 "Unable to run scenario runner using py 3.7 egg"
Hi Team, Iam using CARLA 0.9.11 and trying to run scenario runner using py3.7 egg  (Linux machine has Python 3.7.5 installed). I am able to run it using py 2.7 egg but I would like to utilise functionalities of python3 and hence need to shift to py3.7 egg version. The error which I am receiving when trying to scenario runner is presented below :

Traceback (most recent call last):
  File "scenario

[2022-01-10 10:13] glopezdiest commented on #851
They are indeed outdated, and some function names have been changed over time. We have plans to change it but the amount of documentation that needs updating is quite large, so we are working on it

[2022-01-10 10:13] #851 closed

[2022-01-10 10:26] glopezdiest commented on #852
That's fairly common as we call several types the cleanup function, which tries to destroy the actor. However, that really isn't an ERROR, but a WARNING instead, as it doesn't stop the simulation, just prints out that message

[2022-01-10 10:26] #852 closed

[2022-01-10 10:32] glopezdiest commented on #849
Closing it as it is a duplicate issue of #848

[2022-01-10 10:32] #849 closed